{"openapi":"3.1.0","info":{"title":"Org Management","version":"0.1.0"},"servers":[{"url":"https://api.tryvital.io/management"}],"paths":{"/v1/org/{org_id}/team":{"get":{"tags":["Team"],"summary":"List Teams In Org","operationId":"list_teams_in_org_v1_org__org_id__team_get","parameters":[{"name":"org_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Org Id"}},{"name":"region","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"enum":["us","eu"],"type":"string"}},{"type":"null"}],"title":"Region"}},{"name":"search_query","in":"query","required":false,"schema":{"anyOf":[{"type":"string","pattern":"^[A-Za-zÀ-ÖØ-öø-ÿ0-9():'|&_\\-\\s]{0,50}$"},{"type":"null"}],"title":"Search Query"}},{"name":"next_cursor","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Next Cursor"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClientFacingOrgTeamListResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"post":{"tags":["Team"],"summary":"Create Team In Org","operationId":"create_team_in_org_v1_org__org_id__team_post","parameters":[{"name":"org_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Org Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateOrgTeamBody"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClientFacingOrgTeam"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/org/{org_id}/team/{team_id}":{"get":{"tags":["Team"],"summary":"Get Team In Org","operationId":"get_team_in_org_v1_org__org_id__team__team_id__get","parameters":[{"name":"org_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Org Id"}},{"name":"team_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Team Id"}},{"name":"include_environment","in":"query","required":false,"schema":{"type":"array","items":{"$ref":"#/components/schemas/Env"},"default":[],"title":"Include Environment"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClientFacingOrgTeam"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"patch":{"tags":["Team"],"summary":"Update Team In Org","operationId":"update_team_in_org_v1_org__org_id__team__team_id__patch","parameters":[{"name":"org_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Org Id"}},{"name":"team_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Team Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateOrgTeamBody"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClientFacingOrgTeam"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"delete":{"tags":["Team"],"summary":"Delete Team In Org","operationId":"delete_team_in_org_v1_org__org_id__team__team_id__delete","parameters":[{"name":"org_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Org Id"}},{"name":"team_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Team Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/org/{org_id}/team/{team_id}/scope_requirements":{"get":{"tags":["Team"],"summary":"Get Team Scope Requirements","operationId":"get_team_scope_requirements_v1_org__org_id__team__team_id__scope_requirements_get","parameters":[{"name":"org_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Org Id"}},{"name":"team_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Team Id"}},{"name":"provider","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/OAuthProviders"},{"type":"null"}],"title":"Provider"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TeamScopeRequirementsResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"post":{"tags":["Team"],"summary":"Upsert Team Scope Requirements","operationId":"upsert_team_scope_requirements_v1_org__org_id__team__team_id__scope_requirements_post","parameters":[{"name":"org_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Org Id"}},{"name":"team_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Team Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpsertTeamScopeRequirementsBody"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/org/{org_id}/member":{"get":{"tags":["Member"],"summary":"List Members In Org","operationId":"list_members_in_org_v1_org__org_id__member_get","parameters":[{"name":"org_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Org Id"}},{"name":"search_query","in":"query","required":false,"schema":{"anyOf":[{"type":"string","pattern":"^[A-Za-zÀ-ÖØ-öø-ÿ0-9():'|&_\\-\\s]{0,50}$"},{"type":"null"}],"title":"Search Query"}},{"name":"next_cursor","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Next Cursor"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClientFacingOrgMemberListResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/org/{org_id}/member/{member_id}":{"delete":{"tags":["Member"],"summary":"Remove Member From Org","operationId":"remove_member_from_org_v1_org__org_id__member__member_id__delete","parameters":[{"name":"org_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Org Id"}},{"name":"member_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Member Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/org/{org_id}/invite":{"get":{"tags":["Invite"],"summary":"List Invites In Org","operationId":"list_invites_in_org_v1_org__org_id__invite_get","parameters":[{"name":"org_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Org Id"}},{"name":"search_query","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Search Query"}},{"name":"next_cursor","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Next Cursor"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClientFacingOrgInviteListResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"post":{"tags":["Invite"],"summary":"Create Or Resend Invite In Org","operationId":"create_or_resend_invite_in_org_v1_org__org_id__invite_post","parameters":[{"name":"org_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Org Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrgInviteAPICreate"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrgInviteAPICreateResponse"}}}},"409":{"description":"Conflict"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/org/{org_id}/invite/{invite_id}":{"delete":{"tags":["Invite"],"summary":"Revoke Invite In Org","operationId":"revoke_invite_in_org_v1_org__org_id__invite__invite_id__delete","parameters":[{"name":"invite_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Invite Id"}},{"name":"org_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Org Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/org/{org_id}":{"get":{"tags":["Org"],"summary":"Get Org","operationId":"get_org_v1_org__org_id__get","parameters":[{"name":"org_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Org Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClientFacingOrg"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"patch":{"tags":["Org"],"summary":"Update Org","operationId":"update_org_v1_org__org_id__patch","parameters":[{"name":"org_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Org Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClientFacingOrg"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/org/{org_id}/team_api_keys/{env}/{region}":{"get":{"tags":["Team API Keys"],"summary":"List Team Api Keys","operationId":"list_team_api_keys_v1_org__org_id__team_api_keys__env___region__get","parameters":[{"name":"org_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Org Id"}},{"name":"env","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Env"}},{"name":"region","in":"path","required":true,"schema":{"enum":["us","eu"],"type":"string","title":"Region"}},{"name":"next_cursor","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Next Cursor"}},{"name":"team_id","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"uuid"},{"type":"null"}],"title":"Team Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClientFacingTeamAPIKeyResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"post":{"tags":["Team API Keys"],"summary":"Create Team Api Key","operationId":"create_team_api_key_v1_org__org_id__team_api_keys__env___region__post","parameters":[{"name":"org_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Org Id"}},{"name":"env","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Env"}},{"name":"region","in":"path","required":true,"schema":{"enum":["us","eu"],"type":"string","title":"Region"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateTeamAPIKeyBody"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClientFacingTeamAPIKey"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"delete":{"tags":["Team API Keys"],"summary":"Delete Team Api Keys","operationId":"delete_team_api_keys_v1_org__org_id__team_api_keys__env___region__delete","parameters":[{"name":"org_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Org Id"}},{"name":"env","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Env"}},{"name":"region","in":"path","required":true,"schema":{"enum":["us","eu"],"type":"string","title":"Region"}},{"name":"api_key_id","in":"query","required":true,"schema":{"type":"array","items":{"type":"string","format":"uuid"},"title":"Api Key Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteTeamApiKeysResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/org/{org_id}/team_custom_credentials/{env}/{region}":{"get":{"tags":["Team Custom Credentials"],"summary":"Get Team Custom Credentials","operationId":"get_team_custom_credentials_v1_org__org_id__team_custom_credentials__env___region__get","parameters":[{"name":"org_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Org Id"}},{"name":"env","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Env"}},{"name":"region","in":"path","required":true,"schema":{"enum":["us","eu"],"type":"string","title":"Region"}},{"name":"team_id","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","format":"uuid"},"title":"Team Id"}},{"name":"provider","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/OAuthProviders"},{"$ref":"#/components/schemas/Labs"},{"type":"null"}],"title":"Provider"}},{"name":"next_cursor","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Next Cursor"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomCredentialsResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"post":{"tags":["Team Custom Credentials"],"summary":"Upsert Team Custom Credentials","operationId":"upsert_team_custom_credentials_v1_org__org_id__team_custom_credentials__env___region__post","parameters":[{"name":"org_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Org Id"}},{"name":"env","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Env"}},{"name":"region","in":"path","required":true,"schema":{"enum":["us","eu"],"type":"string","title":"Region"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpsertTeamCustomCredentialsBody"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClientFacingTeamProviderCredentials"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"delete":{"tags":["Team Custom Credentials"],"summary":"Delete Team Custom Credentials","operationId":"delete_team_custom_credentials_v1_org__org_id__team_custom_credentials__env___region__delete","parameters":[{"name":"org_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Org Id"}},{"name":"env","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Env"}},{"name":"region","in":"path","required":true,"schema":{"enum":["us","eu"],"type":"string","title":"Region"}},{"name":"credential_id","in":"query","required":true,"schema":{"type":"array","items":{"type":"string","format":"uuid"},"title":"Credential Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteTeamCustomCredentialsResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/org/{org_id}/prepare_team_custom_credentials/{env}/{region}":{"post":{"tags":["Team Custom Credentials"],"summary":"Prepare Team Custom Credentials","operationId":"prepare_team_custom_credentials_v1_org__org_id__prepare_team_custom_credentials__env___region__post","parameters":[{"name":"org_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Org Id"}},{"name":"env","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Env"}},{"name":"region","in":"path","required":true,"schema":{"enum":["us","eu"],"type":"string","title":"Region"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PrepareTeamCustomCredentialsBody"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PrepareTeamCustomCredentialsResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/org/{org_id}/team_etl_pipelines/{env}/{region}":{"get":{"tags":["Team ETL Pipeline"],"summary":"Get Team Etl Pipelines","operationId":"get_team_etl_pipelines_v1_org__org_id__team_etl_pipelines__env___region__get","parameters":[{"name":"org_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Org Id"}},{"name":"env","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Env"}},{"name":"region","in":"path","required":true,"schema":{"enum":["us","eu"],"type":"string","title":"Region"}},{"name":"team_id","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"uuid"},{"type":"null"}],"title":"Team Id"}},{"name":"next_cursor","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Next Cursor"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TeamETLPipelinesResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"post":{"tags":["Team ETL Pipeline"],"summary":"Upsert Team Etl Pipelines","operationId":"upsert_team_etl_pipelines_v1_org__org_id__team_etl_pipelines__env___region__post","parameters":[{"name":"org_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Org Id"}},{"name":"env","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Env"}},{"name":"region","in":"path","required":true,"schema":{"enum":["us","eu"],"type":"string","title":"Region"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpsertTeamETLPipelinesBody"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ClientFacingETLPipeline"},"title":"Response Upsert Team Etl Pipelines V1 Org  Org Id  Team Etl Pipelines  Env   Region  Post"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"delete":{"tags":["Team ETL Pipeline"],"summary":"Delete Team Etl Pipelines","operationId":"delete_team_etl_pipelines_v1_org__org_id__team_etl_pipelines__env___region__delete","parameters":[{"name":"org_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Org Id"}},{"name":"env","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Env"}},{"name":"region","in":"path","required":true,"schema":{"enum":["us","eu"],"type":"string","title":"Region"}},{"name":"team_id","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","format":"uuid"},"title":"Team Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ClientFacingETLPipeline"},"title":"Response Delete Team Etl Pipelines V1 Org  Org Id  Team Etl Pipelines  Env   Region  Delete"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/org/{org_id}/team_data_pull_preferences/{env}/{region}":{"get":{"tags":["Team Data Pull Preferences"],"summary":"Get Team Data Pull Preferences","operationId":"get_team_data_pull_preferences_v1_org__org_id__team_data_pull_preferences__env___region__get","parameters":[{"name":"org_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Org Id"}},{"name":"env","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Env"}},{"name":"region","in":"path","required":true,"schema":{"enum":["us","eu"],"type":"string","title":"Region"}},{"name":"team_id","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","format":"uuid"},"title":"Team Id"}},{"name":"provider","in":"query","required":false,"schema":{"type":"array","items":{"enum":["oura","fitbit","garmin","strava","withings","peloton","wahoo","zwift","freestyle_libre","abbott_libreview","eight_sleep","renpho","omron","dexcom_v3","hammerhead","polar","cronometer","kardia","whoop_v2","apple_health_kit","google_fit","beurer_api","ultrahuman"],"type":"string"},"title":"Provider"}},{"name":"next_cursor","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Next Cursor"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","default":5,"title":"Limit"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TeamDataPullPreferencesResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"post":{"tags":["Team Data Pull Preferences"],"summary":"Upsert Team Data Pull Preferences","operationId":"upsert_team_data_pull_preferences_v1_org__org_id__team_data_pull_preferences__env___region__post","parameters":[{"name":"org_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Org Id"}},{"name":"env","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Env"}},{"name":"region","in":"path","required":true,"schema":{"enum":["us","eu"],"type":"string","title":"Region"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpsertTeamDataPullPreferencesBody"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TeamDataPullPreferencesResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"delete":{"tags":["Team Data Pull Preferences"],"summary":"Delete Team Data Pull Preferences","operationId":"delete_team_data_pull_preferences_v1_org__org_id__team_data_pull_preferences__env___region__delete","parameters":[{"name":"org_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Org Id"}},{"name":"env","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Env"}},{"name":"region","in":"path","required":true,"schema":{"enum":["us","eu"],"type":"string","title":"Region"}},{"name":"team_id","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","format":"uuid"},"title":"Team Id"}},{"name":"provider","in":"query","required":false,"schema":{"type":"array","items":{"enum":["oura","fitbit","garmin","strava","withings","peloton","wahoo","zwift","freestyle_libre","abbott_libreview","eight_sleep","renpho","omron","dexcom_v3","hammerhead","polar","cronometer","kardia","whoop_v2","apple_health_kit","google_fit","beurer_api","ultrahuman"],"type":"string"},"title":"Provider"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}}},"components":{"schemas":{"AppointmentProvider":{"type":"string","enum":["getlabs","axlehealth","phlebfinders","quest"],"title":"AppointmentProvider"},"BillingMethodCode":{"type":"string","enum":["CM","PT","PI"],"title":"BillingMethodCode"},"BrandInformation":{"properties":{"company_name":{"type":"string","title":"Company Name"},"company_website":{"type":"string","title":"Company Website","default":""},"support_email":{"type":"string","format":"email","title":"Support Email","default":"help@tryvital.io"},"support_contact":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Support Contact","default":""},"company_address":{"type":"string","title":"Company Address","default":""},"brand_color":{"type":"string","title":"Brand Color","default":""}},"type":"object","required":["company_name"],"title":"BrandInformation"},"ClientFacingETLPipeline":{"properties":{"team_id":{"type":"string","format":"uuid","title":"Team Id"},"push_historical_data":{"type":"boolean","title":"Push Historical Data","default":false},"provider_raw_data":{"type":"boolean","title":"Provider Raw Data","default":false},"preferences":{"$ref":"#/components/schemas/EventDestinationPreferences"},"cloud_pubsub":{"anyOf":[{"$ref":"#/components/schemas/EventDestinationCloudPubSubAttributes"},{"type":"null"}]},"rabbitmq":{"anyOf":[{"$ref":"#/components/schemas/EventDestinationRabbitMQAttributes"},{"type":"null"}]},"svix":{"anyOf":[{"$ref":"#/components/schemas/EventDestinationSvixAttributes"},{"type":"null"}]},"azure_amqp":{"anyOf":[{"$ref":"#/components/schemas/EventDestinationAzureAMQPAttributes-Output"},{"type":"null"}]},"event_type_prefixes":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Event Type Prefixes","description":"An allowlist of event type prefixes.             Note that both an empty list and null are interpreted as allow-all."}},"type":"object","required":["team_id","preferences"],"title":"ClientFacingETLPipeline"},"ClientFacingOrg":{"properties":{"id":{"type":"string","format":"uuid","title":"Id"},"name":{"type":"string","title":"Name"},"expires_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Expires At"}},"type":"object","required":["id","name","expires_at"],"title":"ClientFacingOrg"},"ClientFacingOrgInvite":{"properties":{"id":{"type":"string","format":"uuid","title":"Id"},"email":{"type":"string","title":"Email"},"invited_at":{"type":"string","format":"date-time","title":"Invited At"},"resent_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Resent At"},"creator":{"anyOf":[{"$ref":"#/components/schemas/CreatorOrgMember"},{"$ref":"#/components/schemas/CreatorVitalStaff"}],"title":"Creator"}},"type":"object","required":["id","email","invited_at","resent_at","creator"],"title":"ClientFacingOrgInvite"},"ClientFacingOrgInviteListResponse":{"properties":{"invites":{"items":{"$ref":"#/components/schemas/ClientFacingOrgInvite"},"type":"array","title":"Invites"},"next_cursor":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Next Cursor"}},"type":"object","required":["invites","next_cursor"],"title":"ClientFacingOrgInviteListResponse"},"ClientFacingOrgMember":{"properties":{"id":{"type":"string","format":"uuid","title":"Id"},"name":{"type":"string","title":"Name"},"email":{"type":"string","title":"Email"},"created_on":{"type":"string","format":"date-time","title":"Created On"}},"type":"object","required":["id","name","email","created_on"],"title":"ClientFacingOrgMember"},"ClientFacingOrgMemberListResponse":{"properties":{"members":{"items":{"$ref":"#/components/schemas/ClientFacingOrgMember"},"type":"array","title":"Members"},"next_cursor":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Next Cursor"}},"type":"object","required":["members","next_cursor"],"title":"ClientFacingOrgMemberListResponse"},"ClientFacingOrgTeam":{"properties":{"id":{"type":"string","format":"uuid","title":"Id"},"name":{"type":"string","title":"Name"},"created_on":{"type":"string","format":"date-time","title":"Created On"},"region":{"type":"string","enum":["us","eu"],"title":"Region"},"environments":{"items":{"$ref":"#/components/schemas/Env"},"type":"array","title":"Environments"},"sandbox":{"anyOf":[{"$ref":"#/components/schemas/ClientFacingOrgTeamEnvironment"},{"type":"null"}]},"production":{"anyOf":[{"$ref":"#/components/schemas/ClientFacingOrgTeamEnvironment"},{"type":"null"}]}},"type":"object","required":["id","name","created_on","region","sandbox","production"],"title":"ClientFacingOrgTeam"},"ClientFacingOrgTeamEnvironment":{"properties":{"lab_tests_patient_sms_communication_enabled":{"type":"boolean","title":"Lab Tests Patient Sms Communication Enabled","default":true},"lab_tests_patient_email_communication_enabled":{"type":"boolean","title":"Lab Tests Patient Email Communication Enabled","default":true},"brand_information":{"anyOf":[{"$ref":"#/components/schemas/BrandInformation"},{"type":"null"}],"description":"\nInformation of your brand.\n\nIn the Vital Link widget, you are by default represented as the Team name.\nHowever, if you configure Brand Information for the environment, the Company\nName takes precedence.\n\nIn Vital Lab Testing, all communications use only Brand Information. Team\nname is ignored.\n"},"logo_url":{"anyOf":[{"type":"string","maxLength":2083,"minLength":1,"format":"uri"},{"type":"null"}],"title":"Logo Url"},"reject_duplicate_connection":{"type":"boolean","title":"Reject Duplicate Connection","default":false},"sdk_per_device_activity_timeseries":{"type":"boolean","title":"Sdk Per Device Activity Timeseries","default":false}},"type":"object","title":"ClientFacingOrgTeamEnvironment"},"ClientFacingOrgTeamListItem":{"properties":{"id":{"type":"string","format":"uuid","title":"Id"},"name":{"type":"string","title":"Name","description":"\nA human readable name of this Team. It is primarily used by Vital Dashboard.\n\nIn the Vital Link widget, you are by default represented as the Team name.\nHowever, if you have set Brand Information for the environment, the Company\nName takes precedence.\n\nIn Vital Lab Testing, all communications use only Brand Information. Team\nname is ignored.\n\nSee also: `sandbox.brand_information` and `production.brand_information`.\n"},"created_on":{"type":"string","format":"date-time","title":"Created On"},"region":{"type":"string","enum":["us","eu"],"title":"Region"}},"type":"object","required":["id","name","created_on","region"],"title":"ClientFacingOrgTeamListItem"},"ClientFacingOrgTeamListResponse":{"properties":{"teams":{"items":{"$ref":"#/components/schemas/ClientFacingOrgTeamListItem"},"type":"array","title":"Teams"},"next_cursor":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Next Cursor"}},"type":"object","required":["teams","next_cursor"],"title":"ClientFacingOrgTeamListResponse"},"ClientFacingTeamAPIKey":{"properties":{"id":{"type":"string","format":"uuid","title":"Id"},"label":{"type":"string","title":"Label"},"value":{"type":"string","title":"Value"},"team_id":{"type":"string","format":"uuid","title":"Team Id"},"created_at":{"type":"string","format":"date-time","title":"Created At"}},"type":"object","required":["id","label","value","team_id","created_at"],"title":"ClientFacingTeamAPIKey"},"ClientFacingTeamAPIKeyResponse":{"properties":{"api_keys":{"items":{"$ref":"#/components/schemas/ClientFacingTeamAPIKey"},"type":"array","title":"Api Keys"},"next_cursor":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Next Cursor"}},"type":"object","required":["api_keys"],"title":"ClientFacingTeamAPIKeyResponse"},"ClientFacingTeamProviderCredentials":{"properties":{"id":{"type":"string","format":"uuid","title":"Id"},"client_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Client Id"},"client_secret_hash":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Client Secret Hash"},"source":{"anyOf":[{"$ref":"#/components/schemas/OAuthProviders"},{"$ref":"#/components/schemas/Labs"},{"$ref":"#/components/schemas/LabsProviders"},{"$ref":"#/components/schemas/AppointmentProvider"}],"title":"Source"},"team_id":{"type":"string","format":"uuid","title":"Team Id"},"created_at":{"type":"string","format":"date-time","title":"Created At"},"updated_at":{"type":"string","format":"date-time","title":"Updated At"},"details":{"anyOf":[{"$ref":"#/components/schemas/FitbitTeamProviderDetails"},{"$ref":"#/components/schemas/GoogleFitTeamProviderDetails"},{"$ref":"#/components/schemas/LabCorpTeamProviderDetails-Output"},{"$ref":"#/components/schemas/QuestProviderDetails"},{"$ref":"#/components/schemas/PolarTeamProviderDetails"},{"$ref":"#/components/schemas/GetLabsTeamProviderDetails"},{"$ref":"#/components/schemas/PhlebFindersTeamProviderDetails"},{"type":"null"}],"title":"Details"},"app_url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"App Url"},"redirect_url_override":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Redirect Url Override"}},"type":"object","required":["id","source","team_id","created_at","updated_at"],"title":"ClientFacingTeamProviderCredentials"},"CreateOrgTeamBody":{"properties":{"name":{"type":"string","pattern":"^[A-Za-zÀ-ÖØ-öø-ÿ0-9():'|&_\\-\\s]{0,50}$","title":"Name","description":"\nA human readable name of this Team. It is primarily used by Vital Dashboard.\n\nIn the Vital Link widget, you are by default represented as the Team name.\nHowever, if you have set Brand Information for the environment, the Company\nName takes precedence.\n\nIn Vital Lab Testing, all communications use only Brand Information. Team\nname is ignored.\n\nSee also: `sandbox.brand_information` and `production.brand_information`.\n"},"region":{"type":"string","enum":["us","eu"],"title":"Region"},"lab_tests_patient_sms_communication_enabled":{"type":"boolean","title":"Lab Tests Patient Sms Communication Enabled","default":true},"lab_tests_patient_email_communication_enabled":{"type":"boolean","title":"Lab Tests Patient Email Communication Enabled","default":true},"reject_duplicate_connection":{"type":"boolean","title":"Reject Duplicate Connection","default":false},"sdk_per_device_activity_timeseries":{"type":"boolean","title":"Sdk Per Device Activity Timeseries","default":false},"brand_information":{"anyOf":[{"$ref":"#/components/schemas/BrandInformation"},{"type":"null"}],"description":"\nInformation of your brand.\n\nIn the Vital Link widget, you are by default represented as the Team name.\nHowever, if you configure Brand Information for the environment, the Company\nName takes precedence.\n\nIn Vital Lab Testing, all communications use only Brand Information. Team\nname is ignored.\n"},"logo_url":{"anyOf":[{"type":"string","maxLength":2083,"minLength":1,"format":"uri"},{"type":"null"}],"title":"Logo Url"}},"additionalProperties":false,"type":"object","required":["name","region"],"title":"CreateOrgTeamBody"},"CreateTeamAPIKeyBody":{"properties":{"label":{"type":"string","title":"Label"},"team_id":{"type":"string","format":"uuid","title":"Team Id"}},"type":"object","required":["label","team_id"],"title":"CreateTeamAPIKeyBody"},"CreatorOrgMember":{"properties":{"type":{"type":"string","enum":["org_member"],"const":"org_member","title":"Type"},"id":{"type":"string","format":"uuid","title":"Id"},"name":{"type":"string","title":"Name"},"email":{"type":"string","title":"Email"},"avatar":{"type":"string","title":"Avatar"}},"type":"object","required":["type","id","name","email","avatar"],"title":"CreatorOrgMember"},"CreatorVitalStaff":{"properties":{"type":{"type":"string","enum":["vital_staff"],"const":"vital_staff","title":"Type"}},"type":"object","required":["type"],"title":"CreatorVitalStaff"},"CustomCredentialPreparationStep":{"properties":{"type":{"type":"string","enum":["redirect_uri","webhook_uri"],"title":"Type"},"key":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Key"},"value":{"type":"string","title":"Value"},"description":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Description"}},"type":"object","required":["type","key","value","description"],"title":"CustomCredentialPreparationStep"},"CustomCredentialsResponse":{"properties":{"credentials":{"items":{"$ref":"#/components/schemas/ClientFacingTeamProviderCredentials"},"type":"array","title":"Credentials"},"next_cursor":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Next Cursor"}},"type":"object","required":["credentials"],"title":"CustomCredentialsResponse"},"DefaultConfiguration":{"properties":{"historical_days_to_pull":{"type":"integer","title":"Historical Days To Pull"}},"type":"object","required":["historical_days_to_pull"],"title":"DefaultConfiguration"},"DefaultConfigurationWithLimit":{"properties":{"historical_days_to_pull":{"type":"integer","title":"Historical Days To Pull"},"historical_days_to_pull_limit":{"type":"integer","title":"Historical Days To Pull Limit"}},"type":"object","required":["historical_days_to_pull","historical_days_to_pull_limit"],"title":"DefaultConfigurationWithLimit"},"DeleteTeamApiKeysResponse":{"properties":{"success":{"items":{"type":"string","format":"uuid"},"type":"array","title":"Success"},"failure":{"items":{"type":"string","format":"uuid"},"type":"array","title":"Failure"},"not_found":{"items":{"type":"string","format":"uuid"},"type":"array","title":"Not Found"}},"type":"object","required":["success","failure","not_found"],"title":"DeleteTeamApiKeysResponse"},"DeleteTeamCustomCredentialsResponse":{"properties":{"success":{"items":{"type":"string","format":"uuid"},"type":"array","title":"Success"},"failure":{"items":{"type":"string","format":"uuid"},"type":"array","title":"Failure"},"not_found":{"items":{"type":"string","format":"uuid"},"type":"array","title":"Not Found"}},"type":"object","required":["success","failure","not_found"],"title":"DeleteTeamCustomCredentialsResponse"},"Env":{"type":"string","enum":["production","sandbox"],"title":"Env"},"EventDestinationAzureAMQPAttributes-Input":{"properties":{"connection_string":{"type":"string","title":"Connection String"},"default_event_hub":{"type":"string","title":"Default Event Hub"},"event_hub_matchers":{"items":{"$ref":"#/components/schemas/EventDestinationEventHubMatcher"},"type":"array","title":"Event Hub Matchers"},"compression":{"type":"string","enum":["always","auto"],"title":"Compression","default":"auto"}},"type":"object","required":["connection_string","default_event_hub"],"title":"EventDestinationAzureAMQPAttributes"},"EventDestinationAzureAMQPAttributes-Output":{"properties":{"connection_string":{"type":"string","title":"Connection String"},"default_event_hub":{"type":"string","title":"Default Event Hub"},"event_hub_matchers":{"items":{"$ref":"#/components/schemas/EventDestinationEventHubMatcher"},"type":"array","title":"Event Hub Matchers"},"compression":{"type":"string","enum":["always","auto"],"title":"Compression","default":"auto"}},"type":"object","required":["connection_string","default_event_hub"],"title":"EventDestinationAzureAMQPAttributes"},"EventDestinationAzureBlobStorage":{"properties":{"connection_string":{"type":"string","title":"Connection String"},"container_name":{"type":"string","title":"Container Name"}},"type":"object","required":["connection_string","container_name"],"title":"EventDestinationAzureBlobStorage"},"EventDestinationCloudPubSubAttributes":{"properties":{"project":{"type":"string","title":"Project"},"topic":{"type":"string","title":"Topic"},"message_ordering":{"type":"boolean","title":"Message Ordering"}},"type":"object","required":["project","topic","message_ordering"],"title":"EventDestinationCloudPubSubAttributes"},"EventDestinationEventHubMatcher":{"properties":{"event_type_prefix":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Event Type Prefix","description":"Match event types by prefix. If set, `event_type_regex` must not be specified."},"event_type_regex":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Event Type Regex","description":"Match event types by Google RE2. If set, `event_type_prefix` must not be specified."},"event_hub":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Event Hub","description":"The destination event hub for matched event types. If set, `blob_storage` must not be specified"},"blob_storage":{"anyOf":[{"$ref":"#/components/schemas/EventDestinationAzureBlobStorage"},{"type":"null"}],"description":"The destination blob storage for matched event types. If set, `event_hub` must not be specified"}},"type":"object","title":"EventDestinationEventHubMatcher"},"EventDestinationPreferences":{"properties":{"preferred":{"type":"string","enum":["cloud_pubsub","rabbitmq","svix","azure_amqp"],"title":"Preferred"},"enabled":{"items":{"type":"string","enum":["cloud_pubsub","rabbitmq","svix","azure_amqp"]},"type":"array","title":"Enabled"}},"type":"object","required":["preferred","enabled"],"title":"EventDestinationPreferences"},"EventDestinationRabbitMQAttributes":{"properties":{"uri":{"type":"string","title":"Uri"},"exchange":{"type":"string","title":"Exchange"}},"type":"object","required":["uri","exchange"],"title":"EventDestinationRabbitMQAttributes"},"EventDestinationSvixAttributes":{"properties":{"regional":{"type":"boolean","enum":[true],"const":true,"title":"Regional","default":true,"deprecated":true}},"type":"object","title":"EventDestinationSvixAttributes"},"FitbitMetadata":{"properties":{"is_hr_enabled":{"type":"boolean","title":"Is Hr Enabled","default":false},"workout_verify_token":{"type":"string","title":"Workout Verify Token"},"sleep_verify_token":{"type":"string","title":"Sleep Verify Token"},"body_verify_token":{"type":"string","title":"Body Verify Token"}},"type":"object","required":["workout_verify_token","sleep_verify_token","body_verify_token"],"title":"FitbitMetadata"},"FitbitScope":{"type":"string","enum":["heartrate","oxygen_saturation","cardio_fitness","respiratory_rate","activity","location","nutrition","profile","settings","sleep","social","weight","temperature"],"title":"FitbitScope"},"FitbitTeamProviderDetails":{"properties":{"fitbit":{"$ref":"#/components/schemas/FitbitMetadata"}},"type":"object","required":["fitbit"],"title":"FitbitTeamProviderDetails"},"GetLabsMetadata":{"properties":{"webhook_secret_key":{"type":"string","title":"Webhook Secret Key"},"webhook_secret_token":{"type":"string","title":"Webhook Secret Token"}},"type":"object","required":["webhook_secret_key","webhook_secret_token"],"title":"GetLabsMetadata"},"GetLabsTeamProviderDetails":{"properties":{"getlabs":{"$ref":"#/components/schemas/GetLabsMetadata"}},"type":"object","required":["getlabs"],"title":"GetLabsTeamProviderDetails"},"GoogleFitScope":{"type":"string","enum":["openid","email","https://www.googleapis.com/auth/fitness.activity.read","https://www.googleapis.com/auth/fitness.body.read","https://www.googleapis.com/auth/fitness.sleep.read","https://www.googleapis.com/auth/fitness.blood_glucose.read","https://www.googleapis.com/auth/fitness.blood_pressure.read","https://www.googleapis.com/auth/fitness.heart_rate.read","https://www.googleapis.com/auth/fitness.nutrition.read","https://www.googleapis.com/auth/fitness.location.read"],"title":"GoogleFitScope"},"GoogleFitTeamProviderDetails":{"properties":{"redirect_uri":{"type":"string","title":"Redirect Uri"},"data_scopes":{"items":{"type":"string"},"type":"array","title":"Data Scopes"}},"type":"object","required":["redirect_uri","data_scopes"],"title":"GoogleFitTeamProviderDetails"},"HTTPValidationError":{"properties":{"detail":{"items":{"$ref":"#/components/schemas/ValidationError"},"type":"array","title":"Detail"}},"type":"object","title":"HTTPValidationError"},"LabCorpMetadata":{"properties":{"account_number":{"type":"string","title":"Account Number"},"billing_method":{"$ref":"#/components/schemas/BillingMethodCode"}},"type":"object","required":["account_number","billing_method"],"title":"LabCorpMetadata"},"LabCorpTeamProviderDetails-Input":{"properties":{"labcorp":{"$ref":"#/components/schemas/LabCorpMetadata"}},"type":"object","required":["labcorp"],"title":"LabCorpTeamProviderDetails"},"LabCorpTeamProviderDetails-Output":{"properties":{"labcorp":{"$ref":"#/components/schemas/LabCorpMetadata"}},"type":"object","required":["labcorp"],"title":"LabCorpTeamProviderDetails"},"Labs":{"type":"string","enum":["quest","labcorp"],"title":"Labs"},"LabsProviders":{"type":"string","enum":["elation","shippo"],"title":"LabsProviders"},"MyFitnessPalScope":{"type":"string","enum":["diary","measurements","private-exercises","subscriptions"],"title":"MyFitnessPalScope"},"OAuthProviders":{"type":"string","enum":["oura","fitbit","garmin","strava","wahoo","ihealth","withings","google_fit","dexcom_v3","polar","cronometer","omron","whoop_v2","my_fitness_pal_v2","ultrahuman"],"title":"OAuthProviders"},"OrgInviteAPICreate":{"properties":{"email":{"type":"string","title":"Email"}},"type":"object","required":["email"],"title":"OrgInviteAPICreate"},"OrgInviteAPICreateResponse":{"properties":{"status":{"type":"string","enum":["invite_created","invite_resent","already_in_org"],"title":"Status"}},"type":"object","required":["status"],"title":"OrgInviteAPICreateResponse"},"OuraScope":{"type":"string","enum":["email","personal","daily","heartrate","workout","tag","session"],"title":"OuraScope"},"PhlebFindersMetadata":{"properties":{"account_id":{"type":"string","title":"Account Id"},"account_name":{"type":"string","title":"Account Name"},"team_id":{"type":"string","title":"Team Id"},"team_name":{"type":"string","title":"Team Name"},"webhook_token":{"type":"string","title":"Webhook Token"},"email":{"type":"string","title":"Email"}},"type":"object","required":["account_id","account_name","team_id","team_name","webhook_token","email"],"title":"PhlebFindersMetadata"},"PhlebFindersTeamProviderDetails":{"properties":{"phlebfinders":{"$ref":"#/components/schemas/PhlebFindersMetadata"}},"type":"object","required":["phlebfinders"],"title":"PhlebFindersTeamProviderDetails"},"PolarTeamProviderDetails":{"properties":{"webhook_secret":{"type":"string","title":"Webhook Secret"}},"type":"object","required":["webhook_secret"],"title":"PolarTeamProviderDetails"},"PrepareTeamCustomCredentialsBody":{"properties":{"team_id":{"type":"string","format":"uuid","title":"Team Id"},"provider":{"anyOf":[{"$ref":"#/components/schemas/Providers"},{"$ref":"#/components/schemas/Labs"}],"title":"Provider"}},"type":"object","required":["team_id","provider"],"title":"PrepareTeamCustomCredentialsBody"},"PrepareTeamCustomCredentialsResponse":{"properties":{"status":{"type":"string","enum":["no_action_needed","preparations_required"],"title":"Status"},"preparation_steps":{"items":{"$ref":"#/components/schemas/CustomCredentialPreparationStep"},"type":"array","title":"Preparation Steps"}},"type":"object","required":["status"],"title":"PrepareTeamCustomCredentialsResponse"},"Providers":{"type":"string","enum":["oura","fitbit","garmin","strava","renpho","peloton","wahoo","zwift","freestyle_libre","abbott_libreview","freestyle_libre_ble","eight_sleep","withings","apple_health_kit","manual","google_fit","beurer_api","beurer_ble","omron","omron_ble","onetouch_ble","accuchek_ble","contour_ble","dexcom","dexcom_v3","hammerhead","my_fitness_pal","health_connect","polar","cronometer","kardia","whoop_v2","ultrahuman","my_fitness_pal_v2","map_my_fitness"],"title":"Providers"},"QuestMetadata":{"properties":{"account_id":{"type":"string","title":"Account Id"},"organization_id":{"type":"string","title":"Organization Id"},"lab_codes":{"items":{"type":"string"},"type":"array","title":"Lab Codes"}},"type":"object","required":["account_id","organization_id","lab_codes"],"title":"QuestMetadata"},"QuestProviderDetails":{"properties":{"quest":{"$ref":"#/components/schemas/QuestMetadata"}},"type":"object","required":["quest"],"title":"QuestProviderDetails"},"Resource":{"type":"string","enum":["profile","activity","sleep","body","workouts","workout_stream","connection","order","result","appointment","glucose","heartrate","hrv","hypnogram","hrv","ige","igg","blood_oxygen","blood_pressure","cholesterol","device","weight","fat","body_temperature","body_temperature_delta","meal","water","caffeine","mindfulness_minutes","steps","calories_active","distance","floors_climbed","respiratory_rate","vo2_max","calories_basal","stress_level","menstrual_cycle","sleep_cycle","electrocardiogram","heart_rate_alert","afib_burden","electrocardiogram_voltage","workout_duration","insulin_injection","carbohydrates","note","sleep_stream"],"title":"Resource"},"SingleProviderDataPullPreferences":{"properties":{"default":{"$ref":"#/components/schemas/DefaultConfiguration"},"resource_overrides":{"anyOf":[{"additionalProperties":{"$ref":"#/components/schemas/SingleResourceOverride"},"type":"object"},{"type":"null"}],"title":"Resource Overrides"}},"type":"object","required":["default"],"title":"SingleProviderDataPullPreferences"},"SingleProviderDataPullPreferencesWithLimit":{"properties":{"default":{"$ref":"#/components/schemas/DefaultConfigurationWithLimit"},"resource_overrides":{"anyOf":[{"additionalProperties":{"$ref":"#/components/schemas/SingleResourceOverrideWithLimit"},"type":"object"},{"type":"null"}],"title":"Resource Overrides"}},"type":"object","required":["default"],"title":"SingleProviderDataPullPreferencesWithLimit"},"SingleResourceOverride":{"properties":{"historical_days_to_pull":{"type":"integer","title":"Historical Days To Pull"}},"type":"object","required":["historical_days_to_pull"],"title":"SingleResourceOverride"},"SingleResourceOverrideWithLimit":{"properties":{"historical_days_to_pull":{"type":"integer","title":"Historical Days To Pull"},"historical_days_to_pull_limit":{"type":"integer","title":"Historical Days To Pull Limit"}},"type":"object","required":["historical_days_to_pull","historical_days_to_pull_limit"],"title":"SingleResourceOverrideWithLimit"},"StravaScope":{"type":"string","enum":["activity:read_all","activity:write","profile:write","profile:read_all"],"title":"StravaScope"},"TeamDataPullPreferencesResponse":{"properties":{"data_pull_preferences":{"items":{"$ref":"#/components/schemas/TeamDataPullPreferencesWithLimit"},"type":"array","title":"Data Pull Preferences"},"next_cursor":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Next Cursor"}},"type":"object","required":["data_pull_preferences"],"title":"TeamDataPullPreferencesResponse"},"TeamDataPullPreferencesWithLimit":{"properties":{"team_id":{"type":"string","format":"uuid","title":"Team Id"},"providers":{"additionalProperties":{"$ref":"#/components/schemas/SingleProviderDataPullPreferencesWithLimit"},"type":"object","title":"Providers"}},"type":"object","required":["team_id","providers"],"title":"TeamDataPullPreferencesWithLimit"},"TeamETLPipelinesResponse":{"properties":{"pipelines":{"items":{"$ref":"#/components/schemas/ClientFacingETLPipeline"},"type":"array","title":"Pipelines"},"next_cursor":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Next Cursor"}},"type":"object","required":["pipelines"],"title":"TeamETLPipelinesResponse"},"TeamScopeRequirements":{"properties":{"user_must_grant":{"items":{"type":"string"},"type":"array","uniqueItems":true,"title":"User Must Grant"},"user_may_grant":{"items":{"type":"string"},"type":"array","uniqueItems":true,"title":"User May Grant"},"team_id":{"type":"string","format":"uuid","title":"Team Id"},"provider":{"$ref":"#/components/schemas/OAuthProviders"}},"type":"object","required":["user_must_grant","user_may_grant","team_id","provider"],"title":"TeamScopeRequirements"},"TeamScopeRequirementsBase_FitbitScope_":{"properties":{"user_must_grant":{"items":{"$ref":"#/components/schemas/FitbitScope"},"type":"array","uniqueItems":true,"title":"User Must Grant"},"user_may_grant":{"items":{"$ref":"#/components/schemas/FitbitScope"},"type":"array","uniqueItems":true,"title":"User May Grant"}},"type":"object","required":["user_must_grant","user_may_grant"],"title":"TeamScopeRequirementsBase[FitbitScope]"},"TeamScopeRequirementsBase_GoogleFitScope_":{"properties":{"user_must_grant":{"items":{"$ref":"#/components/schemas/GoogleFitScope"},"type":"array","uniqueItems":true,"title":"User Must Grant"},"user_may_grant":{"items":{"$ref":"#/components/schemas/GoogleFitScope"},"type":"array","uniqueItems":true,"title":"User May Grant"}},"type":"object","required":["user_must_grant","user_may_grant"],"title":"TeamScopeRequirementsBase[GoogleFitScope]"},"TeamScopeRequirementsBase_MyFitnessPalScope_":{"properties":{"user_must_grant":{"items":{"$ref":"#/components/schemas/MyFitnessPalScope"},"type":"array","uniqueItems":true,"title":"User Must Grant"},"user_may_grant":{"items":{"$ref":"#/components/schemas/MyFitnessPalScope"},"type":"array","uniqueItems":true,"title":"User May Grant"}},"type":"object","required":["user_must_grant","user_may_grant"],"title":"TeamScopeRequirementsBase[MyFitnessPalScope]"},"TeamScopeRequirementsBase_OuraScope_":{"properties":{"user_must_grant":{"items":{"$ref":"#/components/schemas/OuraScope"},"type":"array","uniqueItems":true,"title":"User Must Grant"},"user_may_grant":{"items":{"$ref":"#/components/schemas/OuraScope"},"type":"array","uniqueItems":true,"title":"User May Grant"}},"type":"object","required":["user_must_grant","user_may_grant"],"title":"TeamScopeRequirementsBase[OuraScope]"},"TeamScopeRequirementsBase_StravaScope_":{"properties":{"user_must_grant":{"items":{"$ref":"#/components/schemas/StravaScope"},"type":"array","uniqueItems":true,"title":"User Must Grant"},"user_may_grant":{"items":{"$ref":"#/components/schemas/StravaScope"},"type":"array","uniqueItems":true,"title":"User May Grant"}},"type":"object","required":["user_must_grant","user_may_grant"],"title":"TeamScopeRequirementsBase[StravaScope]"},"TeamScopeRequirementsBase_WahooScope_":{"properties":{"user_must_grant":{"items":{"$ref":"#/components/schemas/WahooScope"},"type":"array","uniqueItems":true,"title":"User Must Grant"},"user_may_grant":{"items":{"$ref":"#/components/schemas/WahooScope"},"type":"array","uniqueItems":true,"title":"User May Grant"}},"type":"object","required":["user_must_grant","user_may_grant"],"title":"TeamScopeRequirementsBase[WahooScope]"},"TeamScopeRequirementsBase_WhoopScope_":{"properties":{"user_must_grant":{"items":{"$ref":"#/components/schemas/WhoopScope"},"type":"array","uniqueItems":true,"title":"User Must Grant"},"user_may_grant":{"items":{"$ref":"#/components/schemas/WhoopScope"},"type":"array","uniqueItems":true,"title":"User May Grant"}},"type":"object","required":["user_must_grant","user_may_grant"],"title":"TeamScopeRequirementsBase[WhoopScope]"},"TeamScopeRequirementsBase_WithingsScope_":{"properties":{"user_must_grant":{"items":{"$ref":"#/components/schemas/WithingsScope"},"type":"array","uniqueItems":true,"title":"User Must Grant"},"user_may_grant":{"items":{"$ref":"#/components/schemas/WithingsScope"},"type":"array","uniqueItems":true,"title":"User May Grant"}},"type":"object","required":["user_must_grant","user_may_grant"],"title":"TeamScopeRequirementsBase[WithingsScope]"},"TeamScopeRequirementsResponse":{"properties":{"requirements":{"items":{"$ref":"#/components/schemas/TeamScopeRequirements"},"type":"array","title":"Requirements"}},"type":"object","required":["requirements"],"title":"TeamScopeRequirementsResponse"},"UpdateBrandInformationBody":{"properties":{"company_name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Company Name"},"company_website":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Company Website"},"support_email":{"anyOf":[{"type":"string","format":"email"},{"type":"null"}],"title":"Support Email"},"support_contact":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Support Contact"},"company_address":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Company Address"},"brand_color":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Brand Color"}},"type":"object","title":"UpdateBrandInformationBody"},"UpdateOrgTeamBody":{"properties":{"name":{"anyOf":[{"type":"string","pattern":"^[A-Za-zÀ-ÖØ-öø-ÿ0-9():'|&_\\-\\s]{0,50}$"},{"type":"null"}],"title":"Name","description":"\nA human readable name of this Team. It is primarily used by Vital Dashboard.\n\nIn the Vital Link widget, you are by default represented as the Team name.\nHowever, if you have set Brand Information for the environment, the Company\nName takes precedence.\n\nIn Vital Lab Testing, all communications use only Brand Information. Team\nname is ignored.\n\nSee also: `sandbox.brand_information` and `production.brand_information`.\n"},"sandbox":{"anyOf":[{"$ref":"#/components/schemas/UpdateOrgTeamEnvironmentBody"},{"type":"null"}]},"production":{"anyOf":[{"$ref":"#/components/schemas/UpdateOrgTeamEnvironmentBody"},{"type":"null"}]}},"additionalProperties":false,"type":"object","title":"UpdateOrgTeamBody"},"UpdateOrgTeamEnvironmentBody":{"properties":{"lab_tests_patient_sms_communication_enabled":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Lab Tests Patient Sms Communication Enabled"},"lab_tests_patient_email_communication_enabled":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Lab Tests Patient Email Communication Enabled"},"reject_duplicate_connection":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Reject Duplicate Connection"},"sdk_per_device_activity_timeseries":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Sdk Per Device Activity Timeseries"},"brand_information":{"anyOf":[{"$ref":"#/components/schemas/UpdateBrandInformationBody"},{"type":"null"}],"description":"\nInformation of your brand.\n\nIn the Vital Link widget, you are by default represented as the Team name.\nHowever, if you configure Brand Information for the environment, the Company\nName takes precedence.\n\nIn Vital Lab Testing, all communications use only Brand Information. Team\nname is ignored.\n"},"logo_url":{"anyOf":[{"type":"string","maxLength":2083,"minLength":1,"format":"uri"},{"type":"null"}],"title":"Logo Url"}},"type":"object","title":"UpdateOrgTeamEnvironmentBody"},"UpsertTeamCustomCredentialsBody":{"properties":{"team_id":{"type":"string","format":"uuid","title":"Team Id"},"provider":{"anyOf":[{"$ref":"#/components/schemas/OAuthProviders"},{"$ref":"#/components/schemas/Labs"}],"title":"Provider"},"client_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Client Id"},"client_secret":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Client Secret"},"details":{"anyOf":[{"$ref":"#/components/schemas/FitbitTeamProviderDetails"},{"$ref":"#/components/schemas/GoogleFitTeamProviderDetails"},{"$ref":"#/components/schemas/LabCorpTeamProviderDetails-Input"},{"$ref":"#/components/schemas/QuestProviderDetails"},{"$ref":"#/components/schemas/PolarTeamProviderDetails"},{"$ref":"#/components/schemas/GetLabsTeamProviderDetails"},{"$ref":"#/components/schemas/PhlebFindersTeamProviderDetails"},{"type":"null"}],"title":"Details"},"redirect_url_override":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Redirect Url Override"}},"type":"object","required":["team_id","provider"],"title":"UpsertTeamCustomCredentialsBody"},"UpsertTeamDataPullPreferencesBody":{"properties":{"team_ids":{"items":{"type":"string","format":"uuid"},"type":"array","title":"Team Ids"},"providers":{"additionalProperties":{"$ref":"#/components/schemas/SingleProviderDataPullPreferences"},"type":"object","title":"Providers"}},"type":"object","required":["team_ids","providers"],"title":"UpsertTeamDataPullPreferencesBody"},"UpsertTeamETLPipelinesBody":{"properties":{"team_ids":{"items":{"type":"string","format":"uuid"},"type":"array","title":"Team Ids"},"push_historical_data":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Push Historical Data"},"provider_raw_data":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Provider Raw Data"},"preferences":{"anyOf":[{"$ref":"#/components/schemas/EventDestinationPreferences"},{"type":"null"}]},"cloud_pubsub":{"anyOf":[{"$ref":"#/components/schemas/EventDestinationCloudPubSubAttributes"},{"type":"null"}]},"rabbitmq":{"anyOf":[{"$ref":"#/components/schemas/EventDestinationRabbitMQAttributes"},{"type":"null"}]},"svix":{"anyOf":[{"$ref":"#/components/schemas/EventDestinationSvixAttributes"},{"type":"null"}]},"azure_amqp":{"anyOf":[{"$ref":"#/components/schemas/EventDestinationAzureAMQPAttributes-Input"},{"type":"null"}]},"event_type_prefixes":{"items":{"type":"string"},"type":"array","title":"Event Type Prefixes"}},"type":"object","title":"UpsertTeamETLPipelinesBody"},"UpsertTeamScopeRequirementsBody":{"properties":{"fitbit":{"anyOf":[{"$ref":"#/components/schemas/TeamScopeRequirementsBase_FitbitScope_"},{"type":"null"}]},"google_fit":{"anyOf":[{"$ref":"#/components/schemas/TeamScopeRequirementsBase_GoogleFitScope_"},{"type":"null"}]},"oura":{"anyOf":[{"$ref":"#/components/schemas/TeamScopeRequirementsBase_OuraScope_"},{"type":"null"}]},"strava":{"anyOf":[{"$ref":"#/components/schemas/TeamScopeRequirementsBase_StravaScope_"},{"type":"null"}]},"withings":{"anyOf":[{"$ref":"#/components/schemas/TeamScopeRequirementsBase_WithingsScope_"},{"type":"null"}]},"wahoo":{"anyOf":[{"$ref":"#/components/schemas/TeamScopeRequirementsBase_WahooScope_"},{"type":"null"}]},"whoop_v2":{"anyOf":[{"$ref":"#/components/schemas/TeamScopeRequirementsBase_WhoopScope_"},{"type":"null"}]},"my_fitness_pal_v2":{"anyOf":[{"$ref":"#/components/schemas/TeamScopeRequirementsBase_MyFitnessPalScope_"},{"type":"null"}]}},"type":"object","title":"UpsertTeamScopeRequirementsBody"},"ValidationError":{"properties":{"loc":{"items":{"anyOf":[{"type":"string"},{"type":"integer"}]},"type":"array","title":"Location"},"msg":{"type":"string","title":"Message"},"type":{"type":"string","title":"Error Type"}},"type":"object","required":["loc","msg","type"],"title":"ValidationError"},"WahooScope":{"type":"string","enum":["email","user_read","workouts_read","offline_data"],"title":"WahooScope"},"WhoopScope":{"type":"string","enum":["read:recovery","read:cycles","read:workout","read:sleep","read:profile","read:body_measurement","offline"],"title":"WhoopScope"},"WithingsScope":{"type":"string","enum":["user.activity","user.metrics","user.sleepevents"],"title":"WithingsScope"}},"securitySchemes":{"VitalOrgKey":{"type":"apiKey","in":"header","name":"X-Vital-Org-Key"}}},"security":[{"VitalOrgKey":[]}]}