{"openapi":"3.1.0","info":{"title":"Org Management","version":"0.1.0"},"servers":[{"url":"https://api.tryvital.io/management"}],"paths":{"/v1/org/{org_id}/team":{"get":{"tags":["Team"],"summary":"List Teams In Org","operationId":"list_teams_in_org_v1_org__org_id__team_get","parameters":[{"name":"org_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Org Id"}},{"name":"region","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"enum":["us","eu"],"type":"string"}},{"type":"null"}],"title":"Region"}},{"name":"search_query","in":"query","required":false,"schema":{"anyOf":[{"type":"string","pattern":"^[A-Za-zÀ-ÖØ-öø-ÿ0-9():'|&_\\-\\s]{0,50}$"},{"type":"null"}],"title":"Search Query"}},{"name":"next_cursor","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Next Cursor"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClientFacingOrgTeamListResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"post":{"tags":["Team"],"summary":"Create Team In Org","operationId":"create_team_in_org_v1_org__org_id__team_post","parameters":[{"name":"org_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Org Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateOrgTeamBody"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClientFacingOrgTeam"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/org/{org_id}/team/{team_id}":{"get":{"tags":["Team"],"summary":"Get Team In Org","operationId":"get_team_in_org_v1_org__org_id__team__team_id__get","parameters":[{"name":"org_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Org Id"}},{"name":"team_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Team Id"}},{"name":"include_environment","in":"query","required":false,"schema":{"type":"array","items":{"$ref":"#/components/schemas/Env"},"default":[],"title":"Include Environment"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClientFacingOrgTeam"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"patch":{"tags":["Team"],"summary":"Update Team In Org","operationId":"update_team_in_org_v1_org__org_id__team__team_id__patch","parameters":[{"name":"org_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Org Id"}},{"name":"team_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Team Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateOrgTeamBody"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClientFacingOrgTeam"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"delete":{"tags":["Team"],"summary":"Delete Team In Org","operationId":"delete_team_in_org_v1_org__org_id__team__team_id__delete","parameters":[{"name":"org_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Org Id"}},{"name":"team_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Team Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/org/{org_id}/team/{team_id}/scope_requirements":{"get":{"tags":["Team"],"summary":"Get Team Scope Requirements","operationId":"get_team_scope_requirements_v1_org__org_id__team__team_id__scope_requirements_get","parameters":[{"name":"org_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Org Id"}},{"name":"team_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Team Id"}},{"name":"provider","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/OAuthProviders"},{"type":"null"}],"title":"Provider"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TeamScopeRequirementsResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"post":{"tags":["Team"],"summary":"Upsert Team Scope Requirements","operationId":"upsert_team_scope_requirements_v1_org__org_id__team__team_id__scope_requirements_post","parameters":[{"name":"org_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Org Id"}},{"name":"team_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Team Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpsertTeamScopeRequirementsBody"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/org/{org_id}/team/{team_id}/{environment}/continuous_query":{"get":{"tags":["Team Continuous Query"],"summary":"Get Continuous Queries","operationId":"get_continuous_queries_v1_org__org_id__team__team_id___environment__continuous_query_get","parameters":[{"name":"org_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Org Id"}},{"name":"team_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Team Id"}},{"name":"environment","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Env"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContinuousQueryResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"post":{"tags":["Team Continuous Query"],"summary":"Create Continuous Query","operationId":"create_continuous_query_v1_org__org_id__team__team_id___environment__continuous_query_post","parameters":[{"name":"org_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Org Id"}},{"name":"team_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Team Id"}},{"name":"environment","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Env"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateContinuousQueryBody"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContinuousQuery"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/org/{org_id}/team/{team_id}/{environment}/validate_continuous_query":{"post":{"tags":["Team Continuous Query"],"summary":"Validate Continuous Query","operationId":"validate_continuous_query_v1_org__org_id__team__team_id___environment__validate_continuous_query_post","parameters":[{"name":"org_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Org Id"}},{"name":"team_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Team Id"}},{"name":"environment","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Env"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateContinuousQueryBody"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidateContinuousQueryResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/org/{org_id}/team_ehr_pipelines/{environment}/{region}":{"get":{"tags":["Team EHR Pipeline"],"summary":"Get Team Ehr Pipelines","operationId":"get_team_ehr_pipelines_v1_org__org_id__team_ehr_pipelines__environment___region__get","parameters":[{"name":"org_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Org Id"}},{"name":"environment","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Env"}},{"name":"region","in":"path","required":true,"schema":{"enum":["us","eu"],"type":"string","title":"Region"}},{"name":"team_id","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"uuid"},{"type":"null"}],"title":"Team Id"}},{"name":"next_token","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Next Token"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TeamEHRPipelineResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"post":{"tags":["Team EHR Pipeline"],"summary":"Upsert Team Ehr Pipelines","operationId":"upsert_team_ehr_pipelines_v1_org__org_id__team_ehr_pipelines__environment___region__post","parameters":[{"name":"org_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Org Id"}},{"name":"environment","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Env"}},{"name":"region","in":"path","required":true,"schema":{"enum":["us","eu"],"type":"string","title":"Region"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpsertTeamEHRPipelinesBody"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TeamEHRPipeline"},"title":"Response Upsert Team Ehr Pipelines V1 Org  Org Id  Team Ehr Pipelines  Environment   Region  Post"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"delete":{"tags":["Team EHR Pipeline"],"summary":"Delete Team Ehr Pipelines","operationId":"delete_team_ehr_pipelines_v1_org__org_id__team_ehr_pipelines__environment___region__delete","parameters":[{"name":"org_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Org Id"}},{"name":"environment","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Env"}},{"name":"region","in":"path","required":true,"schema":{"enum":["us","eu"],"type":"string","title":"Region"}},{"name":"team_id","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","format":"uuid"},"title":"Team Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/org/{org_id}/team/{team_id}/{environment}/event_delivery_metric":{"get":{"tags":["Team"],"summary":"Get Team Event Delivery Metric","operationId":"get_team_event_delivery_metric_v1_org__org_id__team__team_id___environment__event_delivery_metric_get","parameters":[{"name":"org_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Org Id"}},{"name":"team_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Team Id"}},{"name":"environment","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Env"}},{"name":"interval","in":"query","required":false,"schema":{"enum":["5m","15m","1h","1d"],"type":"string","default":"1h","title":"Interval"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PrometheusQueryResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/org/{org_id}/member":{"get":{"tags":["Member"],"summary":"List Members In Org","operationId":"list_members_in_org_v1_org__org_id__member_get","parameters":[{"name":"org_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Org Id"}},{"name":"search_query","in":"query","required":false,"schema":{"anyOf":[{"type":"string","pattern":"^[A-Za-zÀ-ÖØ-öø-ÿ0-9():'|&_\\-\\s]{0,50}$"},{"type":"null"}],"title":"Search Query"}},{"name":"next_cursor","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Next Cursor"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClientFacingOrgMemberListResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/org/{org_id}/member/{member_id}":{"delete":{"tags":["Member"],"summary":"Remove Member From Org","operationId":"remove_member_from_org_v1_org__org_id__member__member_id__delete","parameters":[{"name":"org_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Org Id"}},{"name":"member_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Member Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/org/{org_id}/invite":{"get":{"tags":["Invite"],"summary":"List Invites In Org","operationId":"list_invites_in_org_v1_org__org_id__invite_get","parameters":[{"name":"org_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Org Id"}},{"name":"search_query","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Search Query"}},{"name":"next_cursor","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Next Cursor"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClientFacingOrgInviteListResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"post":{"tags":["Invite"],"summary":"Create Or Resend Invite In Org","operationId":"create_or_resend_invite_in_org_v1_org__org_id__invite_post","parameters":[{"name":"org_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Org Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrgInviteAPICreate"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrgInviteAPICreateResponse"}}}},"409":{"description":"Conflict"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/org/{org_id}/invite/{invite_id}":{"delete":{"tags":["Invite"],"summary":"Revoke Invite In Org","operationId":"revoke_invite_in_org_v1_org__org_id__invite__invite_id__delete","parameters":[{"name":"invite_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Invite Id"}},{"name":"org_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Org Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/org/{org_id}":{"get":{"tags":["Org"],"summary":"Get Org","operationId":"get_org_v1_org__org_id__get","parameters":[{"name":"org_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Org Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClientFacingOrg"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"patch":{"tags":["Org"],"summary":"Update Org","operationId":"update_org_v1_org__org_id__patch","parameters":[{"name":"org_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Org Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClientFacingOrg"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/org/{org_id}/team_api_keys/{env}/{region}":{"get":{"tags":["Team API Keys"],"summary":"List Team Api Keys","operationId":"list_team_api_keys_v1_org__org_id__team_api_keys__env___region__get","parameters":[{"name":"org_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Org Id"}},{"name":"env","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Env"}},{"name":"region","in":"path","required":true,"schema":{"enum":["us","eu"],"type":"string","title":"Region"}},{"name":"next_cursor","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Next Cursor"}},{"name":"team_id","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"uuid"},{"type":"null"}],"title":"Team Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClientFacingTeamAPIKeyResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"post":{"tags":["Team API Keys"],"summary":"Create Team Api Key","operationId":"create_team_api_key_v1_org__org_id__team_api_keys__env___region__post","parameters":[{"name":"org_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Org Id"}},{"name":"env","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Env"}},{"name":"region","in":"path","required":true,"schema":{"enum":["us","eu"],"type":"string","title":"Region"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateTeamAPIKeyBody"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClientFacingTeamAPIKey"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"delete":{"tags":["Team API Keys"],"summary":"Delete Team Api Keys","operationId":"delete_team_api_keys_v1_org__org_id__team_api_keys__env___region__delete","parameters":[{"name":"org_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Org Id"}},{"name":"env","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Env"}},{"name":"region","in":"path","required":true,"schema":{"enum":["us","eu"],"type":"string","title":"Region"}},{"name":"api_key_id","in":"query","required":true,"schema":{"type":"array","items":{"type":"string","format":"uuid"},"title":"Api Key Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteTeamApiKeysResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/org/{org_id}/team_custom_credentials/{env}/{region}":{"get":{"tags":["Team Custom Credentials"],"summary":"Get Team Custom Credentials","operationId":"get_team_custom_credentials_v1_org__org_id__team_custom_credentials__env___region__get","parameters":[{"name":"org_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Org Id"}},{"name":"env","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Env"}},{"name":"region","in":"path","required":true,"schema":{"enum":["us","eu"],"type":"string","title":"Region"}},{"name":"team_id","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","format":"uuid"},"title":"Team Id"}},{"name":"provider","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/OAuthProviders"},{"$ref":"#/components/schemas/Labs"},{"type":"null"}],"title":"Provider"}},{"name":"next_cursor","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Next Cursor"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomCredentialsResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"post":{"tags":["Team Custom Credentials"],"summary":"Upsert Team Custom Credentials","operationId":"upsert_team_custom_credentials_v1_org__org_id__team_custom_credentials__env___region__post","parameters":[{"name":"org_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Org Id"}},{"name":"env","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Env"}},{"name":"region","in":"path","required":true,"schema":{"enum":["us","eu"],"type":"string","title":"Region"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpsertTeamCustomCredentialsBody"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClientFacingTeamProviderCredentials"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"delete":{"tags":["Team Custom Credentials"],"summary":"Delete Team Custom Credentials","operationId":"delete_team_custom_credentials_v1_org__org_id__team_custom_credentials__env___region__delete","parameters":[{"name":"org_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Org Id"}},{"name":"env","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Env"}},{"name":"region","in":"path","required":true,"schema":{"enum":["us","eu"],"type":"string","title":"Region"}},{"name":"credential_id","in":"query","required":true,"schema":{"type":"array","items":{"type":"string","format":"uuid"},"title":"Credential Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteTeamCustomCredentialsResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/org/{org_id}/prepare_team_custom_credentials/{env}/{region}":{"post":{"tags":["Team Custom Credentials"],"summary":"Prepare Team Custom Credentials","operationId":"prepare_team_custom_credentials_v1_org__org_id__prepare_team_custom_credentials__env___region__post","parameters":[{"name":"org_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Org Id"}},{"name":"env","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Env"}},{"name":"region","in":"path","required":true,"schema":{"enum":["us","eu"],"type":"string","title":"Region"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PrepareTeamCustomCredentialsBody"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PrepareTeamCustomCredentialsResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/org/{org_id}/team_etl_pipelines/{env}/{region}":{"get":{"tags":["Team ETL Pipeline"],"summary":"Get Team Etl Pipelines","operationId":"get_team_etl_pipelines_v1_org__org_id__team_etl_pipelines__env___region__get","parameters":[{"name":"org_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Org Id"}},{"name":"env","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Env"}},{"name":"region","in":"path","required":true,"schema":{"enum":["us","eu"],"type":"string","title":"Region"}},{"name":"team_id","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"uuid"},{"type":"null"}],"title":"Team Id"}},{"name":"next_cursor","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Next Cursor"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TeamETLPipelinesResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"post":{"tags":["Team ETL Pipeline"],"summary":"Upsert Team Etl Pipelines","operationId":"upsert_team_etl_pipelines_v1_org__org_id__team_etl_pipelines__env___region__post","parameters":[{"name":"org_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Org Id"}},{"name":"env","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Env"}},{"name":"region","in":"path","required":true,"schema":{"enum":["us","eu"],"type":"string","title":"Region"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpsertTeamETLPipelinesBody"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ClientFacingETLPipeline"},"title":"Response Upsert Team Etl Pipelines V1 Org  Org Id  Team Etl Pipelines  Env   Region  Post"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"delete":{"tags":["Team ETL Pipeline"],"summary":"Delete Team Etl Pipelines","operationId":"delete_team_etl_pipelines_v1_org__org_id__team_etl_pipelines__env___region__delete","parameters":[{"name":"org_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Org Id"}},{"name":"env","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Env"}},{"name":"region","in":"path","required":true,"schema":{"enum":["us","eu"],"type":"string","title":"Region"}},{"name":"team_id","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","format":"uuid"},"title":"Team Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ClientFacingETLPipeline"},"title":"Response Delete Team Etl Pipelines V1 Org  Org Id  Team Etl Pipelines  Env   Region  Delete"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/org/{org_id}/team_data_pull_preferences/{env}/{region}":{"get":{"tags":["Team Data Pull Preferences"],"summary":"Get Team Data Pull Preferences","operationId":"get_team_data_pull_preferences_v1_org__org_id__team_data_pull_preferences__env___region__get","parameters":[{"name":"org_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Org Id"}},{"name":"env","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Env"}},{"name":"region","in":"path","required":true,"schema":{"enum":["us","eu"],"type":"string","title":"Region"}},{"name":"team_id","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","format":"uuid"},"title":"Team Id"}},{"name":"provider","in":"query","required":false,"schema":{"type":"array","items":{"enum":["oura","fitbit","garmin","strava","withings","peloton","wahoo","zwift","freestyle_libre","abbott_libreview","eight_sleep","renpho","omron","dexcom_v3","hammerhead","polar","cronometer","kardia","whoop_v2","my_fitness_pal_v2","map_my_fitness","apple_health_kit","google_fit","beurer_api","ultrahuman"],"type":"string"},"title":"Provider"}},{"name":"next_cursor","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Next Cursor"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","default":5,"title":"Limit"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TeamDataPullPreferencesResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"post":{"tags":["Team Data Pull Preferences"],"summary":"Upsert Team Data Pull Preferences","operationId":"upsert_team_data_pull_preferences_v1_org__org_id__team_data_pull_preferences__env___region__post","parameters":[{"name":"org_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Org Id"}},{"name":"env","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Env"}},{"name":"region","in":"path","required":true,"schema":{"enum":["us","eu"],"type":"string","title":"Region"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpsertTeamDataPullPreferencesBody"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TeamDataPullPreferencesResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"delete":{"tags":["Team Data Pull Preferences"],"summary":"Delete Team Data Pull Preferences","operationId":"delete_team_data_pull_preferences_v1_org__org_id__team_data_pull_preferences__env___region__delete","parameters":[{"name":"org_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Org Id"}},{"name":"env","in":"path","required":true,"schema":{"$ref":"#/components/schemas/Env"}},{"name":"region","in":"path","required":true,"schema":{"enum":["us","eu"],"type":"string","title":"Region"}},{"name":"team_id","in":"query","required":false,"schema":{"type":"array","items":{"type":"string","format":"uuid"},"title":"Team Id"}},{"name":"provider","in":"query","required":false,"schema":{"type":"array","items":{"enum":["oura","fitbit","garmin","strava","withings","peloton","wahoo","zwift","freestyle_libre","abbott_libreview","eight_sleep","renpho","omron","dexcom_v3","hammerhead","polar","cronometer","kardia","whoop_v2","my_fitness_pal_v2","map_my_fitness","apple_health_kit","google_fit","beurer_api","ultrahuman"],"type":"string"},"title":"Provider"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}}},"components":{"schemas":{"ActivityColumnExpr":{"properties":{"activity":{"type":"string","enum":["date","calories_total","calories_active","steps","distance_meter","floors_climbed","duration_active_second","intensity_sedentary_second","intensity_low_second","intensity_medium_second","intensity_high_second","heart_rate_mean","heart_rate_minimum","heart_rate_maximum","heart_rate_resting","heart_rate_mean_walking","wheelchair_use","wheelchair_push","source_type","source_provider","source_app_id","time_zone","time_zone_offset"],"title":"Activity"}},"type":"object","required":["activity"],"title":"ActivityColumnExpr"},"AggregateExpr":{"properties":{"arg":{"anyOf":[{"$ref":"#/components/schemas/SleepColumnExpr"},{"$ref":"#/components/schemas/ActivityColumnExpr"},{"$ref":"#/components/schemas/WorkoutColumnExpr"},{"$ref":"#/components/schemas/BodyColumnExpr"},{"$ref":"#/components/schemas/IndexColumnExpr"},{"$ref":"#/components/schemas/SleepScoreValueMacroExpr"},{"$ref":"#/components/schemas/ChronotypeValueMacroExpr"},{"$ref":"#/components/schemas/UnrecognizedValueMacroExpr"}],"title":"Arg"},"func":{"type":"string","enum":["mean","min","max","sum","count","median","stddev","oldest","newest"],"title":"Func"}},"type":"object","required":["arg","func"],"title":"AggregateExpr"},"AppointmentProvider":{"type":"string","enum":["getlabs","axlehealth","phlebfinders","quest"],"title":"AppointmentProvider"},"BioReferenceProviderDetails":{"properties":{"sub_account_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Sub Account Id"},"sub_account_name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Sub Account Name"},"allowed_billing_types":{"anyOf":[{"items":{"type":"string","enum":["client_bill","commercial_insurance","patient_bill_passthrough","patient_bill"]},"type":"array"},{"type":"null"}],"title":"Allowed Billing Types"},"disallowed_billing_states":{"anyOf":[{"additionalProperties":{"items":{"type":"string"},"type":"array"},"type":"object"},{"type":"null"}],"title":"Disallowed Billing States"},"bioreference":{"type":"object","title":"Bioreference"}},"type":"object","required":["bioreference"],"title":"BioReferenceProviderDetails"},"BodyColumnExpr":{"properties":{"body":{"type":"string","enum":["measured_at","weight_kilogram","fat_mass_percentage","water_percentage","muscle_mass_percentage","visceral_fat_index","bone_mass_percentage","body_mass_index","lean_body_mass_kilogram","waist_circumference_centimeter","source_type","source_provider","source_app_id","time_zone"],"title":"Body"}},"type":"object","required":["body"],"title":"BodyColumnExpr"},"BrandInformation":{"properties":{"company_name":{"type":"string","title":"Company Name"},"company_website":{"type":"string","title":"Company Website","default":""},"support_email":{"type":"string","format":"email","title":"Support Email","default":"help@tryvital.io"},"support_contact":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Support Contact","default":""},"company_address":{"type":"string","title":"Company Address","default":""},"brand_color":{"type":"string","title":"Brand Color","default":""}},"type":"object","required":["company_name"],"title":"BrandInformation"},"ChronotypeValueMacroExpr":{"properties":{"value_macro":{"type":"string","enum":["chronotype"],"const":"chronotype","title":"Value Macro"},"version":{"type":"string","enum":["automatic"],"const":"automatic","title":"Version","default":"automatic"}},"type":"object","required":["value_macro"],"title":"ChronotypeValueMacroExpr"},"ClientFacingETLPipeline":{"properties":{"team_id":{"type":"string","format":"uuid","title":"Team Id"},"push_historical_data":{"type":"boolean","title":"Push Historical Data","default":false},"provider_raw_data":{"type":"boolean","title":"Provider Raw Data","default":false},"preferences":{"$ref":"#/components/schemas/EventDestinationPreferences"},"cloud_pubsub":{"anyOf":[{"$ref":"#/components/schemas/EventDestinationCloudPubSubAttributes"},{"type":"null"}]},"rabbitmq":{"anyOf":[{"$ref":"#/components/schemas/EventDestinationRabbitMQAttributes"},{"type":"null"}]},"svix":{"anyOf":[{"$ref":"#/components/schemas/EventDestinationSvixAttributes"},{"type":"null"}]},"azure_amqp":{"anyOf":[{"$ref":"#/components/schemas/EventDestinationAzureAMQPAttributes-Output"},{"type":"null"}]},"event_type_prefixes":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Event Type Prefixes","description":"An allowlist of event type prefixes.             Note that both an empty list and null are interpreted as allow-all."}},"type":"object","required":["team_id","preferences"],"title":"ClientFacingETLPipeline"},"ClientFacingOrg":{"properties":{"id":{"type":"string","format":"uuid","title":"Id"},"name":{"type":"string","title":"Name"},"expires_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Expires At"}},"type":"object","required":["id","name","expires_at"],"title":"ClientFacingOrg"},"ClientFacingOrgInvite":{"properties":{"id":{"type":"string","format":"uuid","title":"Id"},"email":{"type":"string","title":"Email"},"invited_at":{"type":"string","format":"date-time","title":"Invited At"},"resent_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Resent At"},"creator":{"anyOf":[{"$ref":"#/components/schemas/CreatorOrgMember"},{"$ref":"#/components/schemas/CreatorOrgMemberRemoved"},{"$ref":"#/components/schemas/CreatorVitalStaff"}],"title":"Creator"}},"type":"object","required":["id","email","invited_at","resent_at","creator"],"title":"ClientFacingOrgInvite"},"ClientFacingOrgInviteListResponse":{"properties":{"invites":{"items":{"$ref":"#/components/schemas/ClientFacingOrgInvite"},"type":"array","title":"Invites"},"next_cursor":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Next Cursor"}},"type":"object","required":["invites","next_cursor"],"title":"ClientFacingOrgInviteListResponse"},"ClientFacingOrgMember":{"properties":{"id":{"type":"string","format":"uuid","title":"Id"},"name":{"type":"string","title":"Name"},"email":{"type":"string","title":"Email"},"created_on":{"type":"string","format":"date-time","title":"Created On"}},"type":"object","required":["id","name","email","created_on"],"title":"ClientFacingOrgMember"},"ClientFacingOrgMemberListResponse":{"properties":{"members":{"items":{"$ref":"#/components/schemas/ClientFacingOrgMember"},"type":"array","title":"Members"},"next_cursor":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Next Cursor"}},"type":"object","required":["members","next_cursor"],"title":"ClientFacingOrgMemberListResponse"},"ClientFacingOrgTeam":{"properties":{"id":{"type":"string","format":"uuid","title":"Id"},"name":{"type":"string","title":"Name"},"created_on":{"type":"string","format":"date-time","title":"Created On"},"region":{"type":"string","enum":["us","eu"],"title":"Region"},"environments":{"items":{"$ref":"#/components/schemas/Env"},"type":"array","title":"Environments"},"sandbox":{"anyOf":[{"$ref":"#/components/schemas/ClientFacingOrgTeamEnvironment"},{"type":"null"}]},"production":{"anyOf":[{"$ref":"#/components/schemas/ClientFacingOrgTeamEnvironment"},{"type":"null"}]}},"type":"object","required":["id","name","created_on","region","sandbox","production"],"title":"ClientFacingOrgTeam"},"ClientFacingOrgTeamEnvironment":{"properties":{"lab_tests_patient_sms_communication_enabled":{"type":"boolean","title":"Lab Tests Patient Sms Communication Enabled","default":true},"lab_tests_patient_email_communication_enabled":{"type":"boolean","title":"Lab Tests Patient Email Communication Enabled","default":true},"brand_information":{"anyOf":[{"$ref":"#/components/schemas/BrandInformation"},{"type":"null"}],"description":"\nInformation of your brand.\n\nIn the Vital Link widget, you are by default represented as the Team name.\nHowever, if you configure Brand Information for the environment, the Company\nName takes precedence.\n\nIn Vital Lab Testing, all communications use only Brand Information. Team\nname is ignored.\n"},"logo_url":{"anyOf":[{"type":"string","maxLength":2083,"minLength":1,"format":"uri"},{"type":"null"}],"title":"Logo Url"},"reject_duplicate_connection":{"type":"boolean","title":"Reject Duplicate Connection","default":false},"sdk_per_device_activity_timeseries":{"type":"boolean","title":"Sdk Per Device Activity Timeseries","default":false}},"type":"object","title":"ClientFacingOrgTeamEnvironment"},"ClientFacingOrgTeamListItem":{"properties":{"id":{"type":"string","format":"uuid","title":"Id"},"name":{"type":"string","title":"Name","description":"\nA human readable name of this Team. It is primarily used by Vital Dashboard.\n\nIn the Vital Link widget, you are by default represented as the Team name.\nHowever, if you have set Brand Information for the environment, the Company\nName takes precedence.\n\nIn Vital Lab Testing, all communications use only Brand Information. Team\nname is ignored.\n\nSee also: `sandbox.brand_information` and `production.brand_information`.\n"},"created_on":{"type":"string","format":"date-time","title":"Created On"},"region":{"type":"string","enum":["us","eu"],"title":"Region"}},"type":"object","required":["id","name","created_on","region"],"title":"ClientFacingOrgTeamListItem"},"ClientFacingOrgTeamListResponse":{"properties":{"teams":{"items":{"$ref":"#/components/schemas/ClientFacingOrgTeamListItem"},"type":"array","title":"Teams"},"next_cursor":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Next Cursor"}},"type":"object","required":["teams","next_cursor"],"title":"ClientFacingOrgTeamListResponse"},"ClientFacingTeamAPIKey":{"properties":{"id":{"type":"string","format":"uuid","title":"Id"},"label":{"type":"string","title":"Label"},"value":{"type":"string","title":"Value"},"team_id":{"type":"string","format":"uuid","title":"Team Id"},"created_at":{"type":"string","format":"date-time","title":"Created At"}},"type":"object","required":["id","label","value","team_id","created_at"],"title":"ClientFacingTeamAPIKey"},"ClientFacingTeamAPIKeyResponse":{"properties":{"api_keys":{"items":{"$ref":"#/components/schemas/ClientFacingTeamAPIKey"},"type":"array","title":"Api Keys"},"next_cursor":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Next Cursor"}},"type":"object","required":["api_keys"],"title":"ClientFacingTeamAPIKeyResponse"},"ClientFacingTeamProviderCredentials":{"properties":{"id":{"type":"string","format":"uuid","title":"Id"},"client_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Client Id"},"client_secret_hash":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Client Secret Hash"},"source":{"anyOf":[{"$ref":"#/components/schemas/Providers"},{"$ref":"#/components/schemas/Labs"},{"$ref":"#/components/schemas/LabsProviders"},{"$ref":"#/components/schemas/AppointmentProvider"}],"title":"Source"},"team_id":{"type":"string","format":"uuid","title":"Team Id"},"created_at":{"type":"string","format":"date-time","title":"Created At"},"updated_at":{"type":"string","format":"date-time","title":"Updated At"},"details":{"anyOf":[{"$ref":"#/components/schemas/FitbitTeamProviderDetails"},{"$ref":"#/components/schemas/GoogleFitTeamProviderDetails"},{"$ref":"#/components/schemas/BioReferenceProviderDetails"},{"$ref":"#/components/schemas/LabCorpTeamProviderDetails"},{"$ref":"#/components/schemas/QuestProviderDetails"},{"$ref":"#/components/schemas/PolarTeamProviderDetails"},{"$ref":"#/components/schemas/GetLabsTeamProviderDetails"},{"$ref":"#/components/schemas/PhlebFindersTeamProviderDetails"},{"$ref":"#/components/schemas/ElationTeamProviderDetails"},{"type":"null"}],"title":"Details"},"app_url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"App Url"},"redirect_url_override":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Redirect Url Override"}},"type":"object","required":["id","source","team_id","created_at","updated_at"],"title":"ClientFacingTeamProviderCredentials"},"ContinuousQuery":{"properties":{"id":{"type":"string","format":"uuid","title":"Id"},"slug":{"type":"string","title":"Slug"},"title":{"type":"string","title":"Title"},"query":{"$ref":"#/components/schemas/Query-Output"},"query_config":{"$ref":"#/components/schemas/QueryConfig"},"scheduling_preferences":{"$ref":"#/components/schemas/ContinuousQuerySchedulingPreferences"},"export_preferences":{"$ref":"#/components/schemas/ContinuousQueryExportPreferences"},"result_table_schema":{"type":"object","title":"Result Table Schema"},"resource_dependencies":{"items":{"$ref":"#/components/schemas/vitalx__types__resources__Resource"},"type":"array","title":"Resource Dependencies"},"fhir_observation_mappers":{"items":{"type":"string","enum":["vital-signs#29463-7#junction-body-weight-1","vital-signs#8867-4#junction-heart-rate-1","vital-signs#9279-1#junction-respiration-rate-1"]},"type":"array","title":"Fhir Observation Mappers","default":[]}},"type":"object","required":["id","slug","title","query","scheduling_preferences","export_preferences","result_table_schema","resource_dependencies"],"title":"ContinuousQuery","example":{"export_preferences":{"data_events":{"enabled":true}},"id":"d25f4472-c679-4e7a-9442-2bce8c12afb1","query":{"group_by":[{"arg":{"index":"sleep"},"date_trunc":{"unit":"month","value":1}}],"select":[{"group_key":"*"},{"arg":{"value_macro":"sleep_score","version":"automatic"},"func":"mean"}],"split_by_source":false},"query_config":{"provider_priority_overrides":["oura"]},"resource_dependencies":["sleep"],"result_table_schema":{"group_key.0":"string","sleep_score":"int64"},"scheduling_preferences":{"minimum_gap_duration_second":3600},"slug":"weekly_mean_sleep_score","title":"Weekly Mean Sleep Score"}},"ContinuousQueryDataEventPreferences":{"properties":{"enabled":{"type":"boolean","title":"Enabled","default":true}},"type":"object","title":"ContinuousQueryDataEventPreferences"},"ContinuousQueryExportPreferences":{"properties":{"data_events":{"$ref":"#/components/schemas/ContinuousQueryDataEventPreferences"},"fhir_observations":{"type":"boolean","title":"Fhir Observations","default":false}},"type":"object","title":"ContinuousQueryExportPreferences"},"ContinuousQueryResponse":{"properties":{"data":{"items":{"$ref":"#/components/schemas/ContinuousQuery"},"type":"array","title":"Data"},"next_cursor":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Next Cursor"}},"type":"object","required":["data","next_cursor"],"title":"ContinuousQueryResponse"},"ContinuousQuerySchedulingPreferences":{"properties":{"minimum_gap_duration_second":{"anyOf":[{"type":"integer","minimum":1800.0},{"type":"null"}],"title":"Minimum Gap Duration Second"}},"type":"object","title":"ContinuousQuerySchedulingPreferences"},"CreateContinuousQueryBody":{"properties":{"slug":{"type":"string","pattern":"^(?!.*--)(?!.*-$)(?!-.*$)[a-z0-9-]{1,128}$","title":"Slug"},"title":{"type":"string","pattern":"^[A-Za-zÀ-ÖØ-öø-ÿ0-9()&_\\-.\\s]{0,50}$","title":"Title"},"query":{"$ref":"#/components/schemas/Query-Input"},"query_config":{"$ref":"#/components/schemas/QueryConfig"},"scheduling_preferences":{"$ref":"#/components/schemas/ContinuousQuerySchedulingPreferences"},"export_preferences":{"$ref":"#/components/schemas/ContinuousQueryExportPreferences"}},"type":"object","required":["slug","title","query"],"title":"CreateContinuousQueryBody","example":{"export_preferences":{"data_events":{"enabled":true}},"query":{"group_by":[{"arg":{"index":"sleep"},"date_trunc":{"unit":"month","value":1}}],"select":[{"group_key":"*"},{"arg":{"value_macro":"sleep_score","version":"automatic"},"func":"mean"}],"split_by_source":false},"query_config":{"provider_priority_overrides":["oura"]},"scheduling_preferences":{"minimum_gap_duration_second":3600},"slug":"weekly_mean_sleep_score","title":"Weekly Mean Sleep Score"}},"CreateOrgTeamBody":{"properties":{"name":{"type":"string","pattern":"^[A-Za-zÀ-ÖØ-öø-ÿ0-9():'|&_\\-\\s]{0,50}$","title":"Name","description":"\nA human readable name of this Team. It is primarily used by Vital Dashboard.\n\nIn the Vital Link widget, you are by default represented as the Team name.\nHowever, if you have set Brand Information for the environment, the Company\nName takes precedence.\n\nIn Vital Lab Testing, all communications use only Brand Information. Team\nname is ignored.\n\nSee also: `sandbox.brand_information` and `production.brand_information`.\n"},"region":{"type":"string","enum":["us","eu"],"title":"Region"},"lab_tests_patient_sms_communication_enabled":{"type":"boolean","title":"Lab Tests Patient Sms Communication Enabled","default":true},"lab_tests_patient_email_communication_enabled":{"type":"boolean","title":"Lab Tests Patient Email Communication Enabled","default":true},"reject_duplicate_connection":{"type":"boolean","title":"Reject Duplicate Connection","default":false},"sdk_per_device_activity_timeseries":{"type":"boolean","title":"Sdk Per Device Activity Timeseries","default":false},"brand_information":{"anyOf":[{"$ref":"#/components/schemas/BrandInformation"},{"type":"null"}],"description":"\nInformation of your brand.\n\nIn the Vital Link widget, you are by default represented as the Team name.\nHowever, if you configure Brand Information for the environment, the Company\nName takes precedence.\n\nIn Vital Lab Testing, all communications use only Brand Information. Team\nname is ignored.\n"},"logo_url":{"anyOf":[{"type":"string","maxLength":2083,"minLength":1,"format":"uri"},{"type":"null"}],"title":"Logo Url"}},"additionalProperties":false,"type":"object","required":["name","region"],"title":"CreateOrgTeamBody"},"CreateTeamAPIKeyBody":{"properties":{"label":{"type":"string","title":"Label"},"team_id":{"type":"string","format":"uuid","title":"Team Id"}},"type":"object","required":["label","team_id"],"title":"CreateTeamAPIKeyBody"},"CreatorOrgMember":{"properties":{"type":{"type":"string","enum":["org_member"],"const":"org_member","title":"Type"},"id":{"type":"string","format":"uuid","title":"Id"},"name":{"type":"string","title":"Name"},"email":{"type":"string","title":"Email"},"avatar":{"type":"string","title":"Avatar"}},"type":"object","required":["type","id","name","email","avatar"],"title":"CreatorOrgMember"},"CreatorOrgMemberRemoved":{"properties":{"type":{"type":"string","enum":["removed_org_member"],"const":"removed_org_member","title":"Type"},"id":{"anyOf":[{"type":"string","format":"uuid"},{"type":"null"}],"title":"Id"}},"type":"object","required":["type","id"],"title":"CreatorOrgMemberRemoved"},"CreatorVitalStaff":{"properties":{"type":{"type":"string","enum":["vital_staff"],"const":"vital_staff","title":"Type"}},"type":"object","required":["type"],"title":"CreatorVitalStaff"},"CustomCredentialPreparationStep":{"properties":{"type":{"type":"string","enum":["redirect_uri","webhook_uri"],"title":"Type"},"key":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Key"},"value":{"type":"string","title":"Value"},"description":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Description"}},"type":"object","required":["type","key","value","description"],"title":"CustomCredentialPreparationStep"},"CustomCredentialsResponse":{"properties":{"credentials":{"items":{"$ref":"#/components/schemas/ClientFacingTeamProviderCredentials"},"type":"array","title":"Credentials"},"next_cursor":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Next Cursor"}},"type":"object","required":["credentials"],"title":"CustomCredentialsResponse"},"DatePartExpr":{"properties":{"arg":{"anyOf":[{"$ref":"#/components/schemas/IndexColumnExpr"},{"$ref":"#/components/schemas/Placeholder"}],"title":"Arg"},"date_part":{"anyOf":[{"type":"string","enum":["minute","hour","day","week","month","year"]},{"type":"string","enum":["weekday","week_of_year","day_of_year"]}],"title":"Date Part"}},"type":"object","required":["arg","date_part"],"title":"DatePartExpr"},"DateTruncExpr":{"properties":{"date_trunc":{"$ref":"#/components/schemas/Period"},"arg":{"anyOf":[{"$ref":"#/components/schemas/IndexColumnExpr"},{"$ref":"#/components/schemas/Placeholder"}],"title":"Arg"}},"type":"object","required":["date_trunc","arg"],"title":"DateTruncExpr"},"DefaultConfiguration":{"properties":{"historical_days_to_pull":{"type":"integer","title":"Historical Days To Pull"}},"type":"object","required":["historical_days_to_pull"],"title":"DefaultConfiguration"},"DefaultConfigurationWithLimit":{"properties":{"historical_days_to_pull":{"type":"integer","title":"Historical Days To Pull"},"historical_days_to_pull_limit":{"type":"integer","title":"Historical Days To Pull Limit"}},"type":"object","required":["historical_days_to_pull","historical_days_to_pull_limit"],"title":"DefaultConfigurationWithLimit"},"DeleteTeamApiKeysResponse":{"properties":{"success":{"items":{"type":"string","format":"uuid"},"type":"array","title":"Success"},"failure":{"items":{"type":"string","format":"uuid"},"type":"array","title":"Failure"},"not_found":{"items":{"type":"string","format":"uuid"},"type":"array","title":"Not Found"}},"type":"object","required":["success","failure","not_found"],"title":"DeleteTeamApiKeysResponse"},"DeleteTeamCustomCredentialsResponse":{"properties":{"success":{"items":{"type":"string","format":"uuid"},"type":"array","title":"Success"},"failure":{"items":{"type":"string","format":"uuid"},"type":"array","title":"Failure"},"not_found":{"items":{"type":"string","format":"uuid"},"type":"array","title":"Not Found"}},"type":"object","required":["success","failure","not_found"],"title":"DeleteTeamCustomCredentialsResponse"},"EHRPipelineGoogleIAM":{"properties":{"type":{"type":"string","enum":["google_iam"],"const":"google_iam","title":"Type"},"service_account_email":{"type":"string","title":"Service Account Email"},"audience":{"type":"string","enum":["https://healthcare.googleapis.com/"],"const":"https://healthcare.googleapis.com/","title":"Audience"}},"type":"object","required":["type","service_account_email","audience"],"title":"EHRPipelineGoogleIAM"},"EHRPipelineOAuth2ClientCredentials":{"properties":{"type":{"type":"string","enum":["client_credentials"],"const":"client_credentials","title":"Type"},"client_id":{"type":"string","title":"Client Id"},"client_secret":{"type":"string","format":"password","title":"Client Secret","writeOnly":true},"token_url":{"type":"string","minLength":1,"format":"uri","title":"Token Url"}},"type":"object","required":["type","client_id","client_secret","token_url"],"title":"EHRPipelineOAuth2ClientCredentials"},"ElationTeamProviderDetails":{"properties":{"sub_account_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Sub Account Id"},"sub_account_name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Sub Account Name"},"allowed_billing_types":{"anyOf":[{"items":{"type":"string","enum":["client_bill","commercial_insurance","patient_bill_passthrough","patient_bill"]},"type":"array"},{"type":"null"}],"title":"Allowed Billing Types"},"disallowed_billing_states":{"anyOf":[{"additionalProperties":{"items":{"type":"string"},"type":"array"},"type":"object"},{"type":"null"}],"title":"Disallowed Billing States"},"elation":{"type":"object","title":"Elation"},"webhook_signing_secret":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Webhook Signing Secret"}},"type":"object","required":["elation"],"title":"ElationTeamProviderDetails"},"Env":{"type":"string","enum":["production","sandbox"],"title":"Env"},"EventDestinationAzureAMQPAttributes-Input":{"properties":{"connection_string":{"type":"string","title":"Connection String"},"default_event_hub":{"type":"string","title":"Default Event Hub","description":"The default Event Hub to use when none of the `event_hub_matchers` matches."},"event_hub_matchers":{"items":{"$ref":"#/components/schemas/EventDestinationEventHubMatcher"},"type":"array","title":"Event Hub Matchers","description":"A list of matchers to route event types to specific Event Hubs.\n\nString prefix matching is used, and the matchers are evaluated in array order.\nIf an event matches none of the matchers, it falls back to `default_event_hub`."},"compression":{"type":"string","enum":["always","auto"],"title":"Compression","description":"`auto` mode compresses only payload blobs above a threshold (currently 1 KiB).\nFor all compressed payloads, Vital adds `Content-Encoding: gzip` to the\n`EventData.Properties` of the event.\n\n`always` mode compresses all blobs regardless of their size.","default":"auto"}},"type":"object","required":["connection_string","default_event_hub"],"title":"EventDestinationAzureAMQPAttributes"},"EventDestinationAzureAMQPAttributes-Output":{"properties":{"connection_string":{"type":"string","title":"Connection String"},"default_event_hub":{"type":"string","title":"Default Event Hub","description":"The default Event Hub to use when none of the `event_hub_matchers` matches."},"event_hub_matchers":{"items":{"$ref":"#/components/schemas/EventDestinationEventHubMatcher"},"type":"array","title":"Event Hub Matchers","description":"A list of matchers to route event types to specific Event Hubs.\n\nString prefix matching is used, and the matchers are evaluated in array order.\nIf an event matches none of the matchers, it falls back to `default_event_hub`."},"compression":{"type":"string","enum":["always","auto"],"title":"Compression","description":"`auto` mode compresses only payload blobs above a threshold (currently 1 KiB).\nFor all compressed payloads, Vital adds `Content-Encoding: gzip` to the\n`EventData.Properties` of the event.\n\n`always` mode compresses all blobs regardless of their size.","default":"auto"}},"type":"object","required":["connection_string","default_event_hub"],"title":"EventDestinationAzureAMQPAttributes"},"EventDestinationAzureBlobStorage":{"properties":{"connection_string":{"type":"string","title":"Connection String"},"container_name":{"type":"string","title":"Container Name"}},"type":"object","required":["connection_string","container_name"],"title":"EventDestinationAzureBlobStorage"},"EventDestinationCloudPubSubAttributes":{"properties":{"project":{"type":"string","title":"Project"},"topic":{"type":"string","title":"Topic"},"message_ordering":{"type":"boolean","title":"Message Ordering"}},"type":"object","required":["project","topic","message_ordering"],"title":"EventDestinationCloudPubSubAttributes"},"EventDestinationEventHubMatcher":{"properties":{"event_type_prefix":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Event Type Prefix","description":"Match event types by prefix. If set, `event_type_regex` must not be specified."},"event_type_regex":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Event Type Regex","description":"Match event types by Google RE2. If set, `event_type_prefix` must not be specified."},"event_hub":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Event Hub","description":"The destination event hub for matched event types. If set, `blob_storage` must not be specified"},"blob_storage":{"anyOf":[{"$ref":"#/components/schemas/EventDestinationAzureBlobStorage"},{"type":"null"}],"description":"The destination blob storage for matched event types. If set, `event_hub` must not be specified"}},"type":"object","title":"EventDestinationEventHubMatcher"},"EventDestinationPreferences":{"properties":{"preferred":{"type":"string","enum":["cloud_pubsub","rabbitmq","svix","azure_amqp"],"title":"Preferred"},"enabled":{"items":{"type":"string","enum":["cloud_pubsub","rabbitmq","svix","azure_amqp"]},"type":"array","title":"Enabled"}},"type":"object","required":["preferred","enabled"],"title":"EventDestinationPreferences"},"EventDestinationRabbitMQAttributes":{"properties":{"uri":{"type":"string","title":"Uri"},"exchange":{"type":"string","title":"Exchange"}},"type":"object","required":["uri","exchange"],"title":"EventDestinationRabbitMQAttributes"},"EventDestinationSvixAttributes":{"properties":{"regional":{"type":"boolean","enum":[true],"const":true,"title":"Regional","default":true,"deprecated":true}},"type":"object","title":"EventDestinationSvixAttributes"},"FitbitMetadata":{"properties":{"is_hr_enabled":{"type":"boolean","title":"Is Hr Enabled","default":false},"workout_verify_token":{"type":"string","title":"Workout Verify Token"},"sleep_verify_token":{"type":"string","title":"Sleep Verify Token"},"body_verify_token":{"type":"string","title":"Body Verify Token"}},"type":"object","required":["workout_verify_token","sleep_verify_token","body_verify_token"],"title":"FitbitMetadata"},"FitbitScope":{"type":"string","enum":["heartrate","oxygen_saturation","cardio_fitness","respiratory_rate","activity","location","nutrition","profile","settings","sleep","social","weight","temperature"],"title":"FitbitScope"},"FitbitTeamProviderDetails":{"properties":{"fitbit":{"$ref":"#/components/schemas/FitbitMetadata"}},"type":"object","required":["fitbit"],"title":"FitbitTeamProviderDetails"},"GetLabsMetadata":{"properties":{"webhook_secret_key":{"type":"string","title":"Webhook Secret Key"},"webhook_secret_token":{"type":"string","title":"Webhook Secret Token"}},"type":"object","required":["webhook_secret_key","webhook_secret_token"],"title":"GetLabsMetadata"},"GetLabsTeamProviderDetails":{"properties":{"getlabs":{"$ref":"#/components/schemas/GetLabsMetadata"}},"type":"object","required":["getlabs"],"title":"GetLabsTeamProviderDetails"},"GoogleFitScope":{"type":"string","enum":["openid","email","https://www.googleapis.com/auth/fitness.activity.read","https://www.googleapis.com/auth/fitness.body.read","https://www.googleapis.com/auth/fitness.sleep.read","https://www.googleapis.com/auth/fitness.blood_glucose.read","https://www.googleapis.com/auth/fitness.blood_pressure.read","https://www.googleapis.com/auth/fitness.heart_rate.read","https://www.googleapis.com/auth/fitness.nutrition.read","https://www.googleapis.com/auth/fitness.location.read"],"title":"GoogleFitScope"},"GoogleFitTeamProviderDetails":{"properties":{"redirect_uri":{"type":"string","title":"Redirect Uri"},"data_scopes":{"items":{"type":"string"},"type":"array","title":"Data Scopes"}},"type":"object","required":["redirect_uri","data_scopes"],"title":"GoogleFitTeamProviderDetails"},"GroupKeyColumnExpr":{"properties":{"group_key":{"anyOf":[{"type":"integer"},{"type":"string","enum":["*"],"const":"*"}],"title":"Group Key"}},"type":"object","required":["group_key"],"title":"GroupKeyColumnExpr"},"HTTPValidationError":{"properties":{"detail":{"items":{"$ref":"#/components/schemas/ValidationError"},"type":"array","title":"Detail"}},"type":"object","title":"HTTPValidationError"},"IndexColumnExpr":{"properties":{"index":{"type":"string","enum":["sleep","activity","workout","body","meal"],"title":"Index"}},"type":"object","required":["index"],"title":"IndexColumnExpr"},"LabCorpMetadata":{"properties":{"account_number":{"type":"string","title":"Account Number"},"billing_method":{"type":"string","enum":["CM","PT","PI"],"title":"Billing Method"}},"type":"object","required":["account_number","billing_method"],"title":"LabCorpMetadata"},"LabCorpTeamProviderDetails":{"properties":{"sub_account_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Sub Account Id"},"sub_account_name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Sub Account Name"},"allowed_billing_types":{"anyOf":[{"items":{"type":"string","enum":["client_bill","commercial_insurance","patient_bill_passthrough","patient_bill"]},"type":"array"},{"type":"null"}],"title":"Allowed Billing Types"},"disallowed_billing_states":{"anyOf":[{"additionalProperties":{"items":{"type":"string"},"type":"array"},"type":"object"},{"type":"null"}],"title":"Disallowed Billing States"},"labcorp":{"$ref":"#/components/schemas/LabCorpMetadata"}},"type":"object","required":["labcorp"],"title":"LabCorpTeamProviderDetails"},"Labs":{"type":"string","enum":["ayumetrix","spiriplex","ussl","quest","labcorp","bioreference","us_biotek","manual","sanocardio","ihd"],"title":"Labs"},"LabsProviders":{"type":"string","enum":["elation","shippo"],"title":"LabsProviders"},"MyFitnessPalScope":{"type":"string","enum":["diary","measurements","private-exercises","subscriptions"],"title":"MyFitnessPalScope"},"OAuthProviders":{"type":"string","enum":["oura","fitbit","garmin","strava","wahoo","ihealth","withings","google_fit","dexcom_v3","polar","cronometer","omron","whoop_v2","my_fitness_pal_v2","ultrahuman"],"title":"OAuthProviders"},"OrgInviteAPICreate":{"properties":{"email":{"type":"string","title":"Email"}},"type":"object","required":["email"],"title":"OrgInviteAPICreate"},"OrgInviteAPICreateResponse":{"properties":{"status":{"type":"string","enum":["invite_created","invite_resent","already_in_org"],"title":"Status"}},"type":"object","required":["status"],"title":"OrgInviteAPICreateResponse"},"OuraScope":{"type":"string","enum":["email","personal","daily","heartrate","workout","tag","session"],"title":"OuraScope"},"Period":{"properties":{"value":{"type":"integer","minimum":1.0,"title":"Value","default":1},"unit":{"type":"string","enum":["minute","hour","day","week","month","year"],"title":"Unit"}},"type":"object","required":["unit"],"title":"Period"},"PhlebFindersMetadata":{"properties":{"account_id":{"type":"string","title":"Account Id"},"account_name":{"type":"string","title":"Account Name"},"team_id":{"type":"string","title":"Team Id"},"team_name":{"type":"string","title":"Team Name"},"webhook_token":{"type":"string","title":"Webhook Token"},"email":{"type":"string","title":"Email"}},"type":"object","required":["account_id","account_name","team_id","team_name","webhook_token","email"],"title":"PhlebFindersMetadata"},"PhlebFindersTeamProviderDetails":{"properties":{"phlebfinders":{"$ref":"#/components/schemas/PhlebFindersMetadata"}},"type":"object","required":["phlebfinders"],"title":"PhlebFindersTeamProviderDetails"},"Placeholder":{"properties":{"placeholder":{"type":"boolean","enum":[true],"const":true,"title":"Placeholder"}},"type":"object","required":["placeholder"],"title":"Placeholder"},"PolarTeamProviderDetails":{"properties":{"webhook_secret":{"type":"string","title":"Webhook Secret"}},"type":"object","required":["webhook_secret"],"title":"PolarTeamProviderDetails"},"PrepareTeamCustomCredentialsBody":{"properties":{"team_id":{"type":"string","format":"uuid","title":"Team Id"},"provider":{"anyOf":[{"$ref":"#/components/schemas/Providers"},{"$ref":"#/components/schemas/Labs"}],"title":"Provider"}},"type":"object","required":["team_id","provider"],"title":"PrepareTeamCustomCredentialsBody"},"PrepareTeamCustomCredentialsResponse":{"properties":{"status":{"type":"string","enum":["no_action_needed","preparations_required"],"title":"Status","description":"### `no_action_needed`\nNo preparation needs to be done.\nYou can apply the custom credential using the Set Team Custom Credentials API\nright away.\n\n### `preparations_required`\nYou should configure your OAuth application in accordance to the preparation steps\nprovided, before calling the Set Team Custom Credentials API to\napply the custom credential to your team."},"preparation_steps":{"items":{"$ref":"#/components/schemas/CustomCredentialPreparationStep"},"type":"array","title":"Preparation Steps","description":"A list of steps which must be completed before applying the custom\ncredential to your team through the Set Team Custom Credentials API."}},"type":"object","required":["status"],"title":"PrepareTeamCustomCredentialsResponse"},"PrometheusQueryData":{"properties":{"resultType":{"type":"string","enum":["matrix"],"const":"matrix","title":"Resulttype"},"result":{"items":{"$ref":"#/components/schemas/PrometheusQueryResult"},"type":"array","title":"Result"}},"type":"object","required":["resultType","result"],"title":"PrometheusQueryData"},"PrometheusQueryResponse":{"properties":{"status":{"type":"string","enum":["success"],"const":"success","title":"Status"},"data":{"$ref":"#/components/schemas/PrometheusQueryData"}},"type":"object","required":["status","data"],"title":"PrometheusQueryResponse","description":"ref: https://prometheus.io/docs/prometheus/latest/querying/api/#range-queries"},"PrometheusQueryResult":{"properties":{"metric":{"additionalProperties":{"type":"string"},"type":"object","title":"Metric"},"values":{"items":{"prefixItems":[{"type":"integer"},{"type":"string"}],"type":"array","maxItems":2,"minItems":2},"type":"array","title":"Values"}},"type":"object","required":["metric","values"],"title":"PrometheusQueryResult"},"Providers":{"type":"string","enum":["oura","fitbit","garmin","whoop","strava","renpho","peloton","wahoo","zwift","freestyle_libre","abbott_libreview","freestyle_libre_ble","eight_sleep","withings","apple_health_kit","manual","ihealth","google_fit","beurer_api","beurer_ble","omron","omron_ble","onetouch_ble","accuchek_ble","contour_ble","dexcom","dexcom_v3","hammerhead","my_fitness_pal","health_connect","polar","cronometer","kardia","whoop_v2","ultrahuman","my_fitness_pal_v2","map_my_fitness"],"title":"Providers"},"Query-Input":{"properties":{"select":{"items":{"anyOf":[{"$ref":"#/components/schemas/AggregateExpr"},{"$ref":"#/components/schemas/GroupKeyColumnExpr"},{"$ref":"#/components/schemas/SleepColumnExpr"},{"$ref":"#/components/schemas/ActivityColumnExpr"},{"$ref":"#/components/schemas/WorkoutColumnExpr"},{"$ref":"#/components/schemas/BodyColumnExpr"},{"$ref":"#/components/schemas/IndexColumnExpr"},{"$ref":"#/components/schemas/SleepScoreValueMacroExpr"},{"$ref":"#/components/schemas/ChronotypeValueMacroExpr"},{"$ref":"#/components/schemas/UnrecognizedValueMacroExpr"}]},"type":"array","title":"Select"},"group_by":{"items":{"anyOf":[{"$ref":"#/components/schemas/DateTruncExpr"},{"$ref":"#/components/schemas/DatePartExpr"}]},"type":"array","title":"Group By"},"split_by_source":{"type":"boolean","title":"Split By Source","default":false}},"type":"object","required":["select"],"title":"Query"},"Query-Output":{"properties":{"select":{"items":{"anyOf":[{"$ref":"#/components/schemas/AggregateExpr"},{"$ref":"#/components/schemas/GroupKeyColumnExpr"},{"$ref":"#/components/schemas/SleepColumnExpr"},{"$ref":"#/components/schemas/ActivityColumnExpr"},{"$ref":"#/components/schemas/WorkoutColumnExpr"},{"$ref":"#/components/schemas/BodyColumnExpr"},{"$ref":"#/components/schemas/IndexColumnExpr"},{"$ref":"#/components/schemas/SleepScoreValueMacroExpr"},{"$ref":"#/components/schemas/ChronotypeValueMacroExpr"},{"$ref":"#/components/schemas/UnrecognizedValueMacroExpr"}]},"type":"array","title":"Select"},"group_by":{"items":{"anyOf":[{"$ref":"#/components/schemas/DateTruncExpr"},{"$ref":"#/components/schemas/DatePartExpr"}]},"type":"array","title":"Group By"},"split_by_source":{"type":"boolean","title":"Split By Source","default":false}},"type":"object","required":["select"],"title":"Query"},"QueryConfig":{"properties":{"provider_priority_overrides":{"anyOf":[{"items":{"anyOf":[{"$ref":"#/components/schemas/Providers"},{"$ref":"#/components/schemas/Labs"}]},"type":"array"},{"type":"null"}],"title":"Provider Priority Overrides"}},"type":"object","title":"QueryConfig"},"QuestProviderDetails":{"properties":{"sub_account_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Sub Account Id"},"sub_account_name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Sub Account Name"},"allowed_billing_types":{"anyOf":[{"items":{"type":"string","enum":["client_bill","commercial_insurance","patient_bill_passthrough","patient_bill"]},"type":"array"},{"type":"null"}],"title":"Allowed Billing Types"},"disallowed_billing_states":{"anyOf":[{"additionalProperties":{"items":{"type":"string"},"type":"array"},"type":"object"},{"type":"null"}],"title":"Disallowed Billing States"},"quest":{"type":"object","title":"Quest"},"allowed_business_units":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Allowed Business Units"}},"type":"object","required":["quest"],"title":"QuestProviderDetails"},"Resource-Input":{"type":"string","enum":["profile","activity","sleep","body","workouts","workout_stream","connection","order","result","appointment","glucose","heartrate","hrv","hypnogram","hrv","ige","igg","blood_oxygen","blood_pressure","cholesterol","device","weight","fat","body_temperature","body_temperature_delta","meal","water","caffeine","mindfulness_minutes","steps","calories_active","distance","floors_climbed","respiratory_rate","vo2_max","calories_basal","stress_level","menstrual_cycle","sleep_cycle","electrocardiogram","heart_rate_alert","afib_burden","electrocardiogram_voltage","workout_duration","insulin_injection","carbohydrates","note","sleep_stream"],"title":"Resource"},"SingleProviderDataPullPreferences":{"properties":{"default":{"$ref":"#/components/schemas/DefaultConfiguration"},"resource_overrides":{"anyOf":[{"additionalProperties":{"$ref":"#/components/schemas/SingleResourceOverride"},"type":"object"},{"type":"null"}],"title":"Resource Overrides"}},"type":"object","required":["default"],"title":"SingleProviderDataPullPreferences"},"SingleProviderDataPullPreferencesWithLimit":{"properties":{"default":{"$ref":"#/components/schemas/DefaultConfigurationWithLimit"},"resource_overrides":{"anyOf":[{"additionalProperties":{"$ref":"#/components/schemas/SingleResourceOverrideWithLimit"},"type":"object"},{"type":"null"}],"title":"Resource Overrides"}},"type":"object","required":["default"],"title":"SingleProviderDataPullPreferencesWithLimit"},"SingleResourceOverride":{"properties":{"historical_days_to_pull":{"type":"integer","title":"Historical Days To Pull"}},"type":"object","required":["historical_days_to_pull"],"title":"SingleResourceOverride"},"SingleResourceOverrideWithLimit":{"properties":{"historical_days_to_pull":{"type":"integer","title":"Historical Days To Pull"},"historical_days_to_pull_limit":{"type":"integer","title":"Historical Days To Pull Limit"}},"type":"object","required":["historical_days_to_pull","historical_days_to_pull_limit"],"title":"SingleResourceOverrideWithLimit"},"SleepColumnExpr":{"properties":{"sleep":{"type":"string","enum":["session_start","session_end","state","type","duration_second","stage_asleep_second","stage_awake_second","stage_light_second","stage_rem_second","stage_deep_second","stage_unknown_second","latency_second","heart_rate_minimum","heart_rate_mean","heart_rate_maximum","heart_rate_dip","heart_rate_resting","efficiency","hrv_mean_rmssd","hrv_mean_sdnn","skin_temperature","skin_temperature_delta","respiratory_rate","score","source_type","source_provider","source_app_id","time_zone"],"title":"Sleep"}},"type":"object","required":["sleep"],"title":"SleepColumnExpr"},"SleepScoreValueMacroExpr":{"properties":{"value_macro":{"type":"string","enum":["sleep_score"],"const":"sleep_score","title":"Value Macro"},"version":{"type":"string","enum":["automatic"],"const":"automatic","title":"Version","default":"automatic"}},"type":"object","required":["value_macro"],"title":"SleepScoreValueMacroExpr"},"StravaScope":{"type":"string","enum":["activity:read_all","activity:write","profile:write","profile:read_all"],"title":"StravaScope"},"TeamDataPullPreferencesResponse":{"properties":{"data_pull_preferences":{"items":{"$ref":"#/components/schemas/TeamDataPullPreferencesWithLimit"},"type":"array","title":"Data Pull Preferences"},"next_cursor":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Next Cursor"}},"type":"object","required":["data_pull_preferences"],"title":"TeamDataPullPreferencesResponse"},"TeamDataPullPreferencesWithLimit":{"properties":{"team_id":{"type":"string","format":"uuid","title":"Team Id"},"providers":{"additionalProperties":{"$ref":"#/components/schemas/SingleProviderDataPullPreferencesWithLimit"},"type":"object","title":"Providers"}},"type":"object","required":["team_id","providers"],"title":"TeamDataPullPreferencesWithLimit"},"TeamEHRPipeline":{"properties":{"team_id":{"type":"string","format":"uuid","title":"Team Id"},"ehr_type":{"type":"string","enum":["fhir"],"const":"fhir","title":"Ehr Type"},"base_url":{"type":"string","minLength":1,"format":"uri","title":"Base Url"},"authentication":{"anyOf":[{"$ref":"#/components/schemas/EHRPipelineOAuth2ClientCredentials"},{"$ref":"#/components/schemas/EHRPipelineGoogleIAM"}],"title":"Authentication"},"allowed_mappers":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Allowed Mappers"}},"type":"object","required":["team_id","ehr_type","base_url","authentication"],"title":"TeamEHRPipeline"},"TeamEHRPipelineResponse":{"properties":{"data":{"items":{"$ref":"#/components/schemas/TeamEHRPipeline"},"type":"array","title":"Data"},"next_token":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Next Token"}},"type":"object","required":["data","next_token"],"title":"TeamEHRPipelineResponse"},"TeamETLPipelinesResponse":{"properties":{"pipelines":{"items":{"$ref":"#/components/schemas/ClientFacingETLPipeline"},"type":"array","title":"Pipelines"},"next_cursor":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Next Cursor"}},"type":"object","required":["pipelines"],"title":"TeamETLPipelinesResponse"},"TeamScopeRequirements":{"properties":{"user_must_grant":{"items":{"type":"string"},"type":"array","uniqueItems":true,"title":"User Must Grant"},"user_may_grant":{"items":{"type":"string"},"type":"array","uniqueItems":true,"title":"User May Grant"},"team_id":{"type":"string","format":"uuid","title":"Team Id"},"provider":{"$ref":"#/components/schemas/OAuthProviders"}},"type":"object","required":["user_must_grant","user_may_grant","team_id","provider"],"title":"TeamScopeRequirements"},"TeamScopeRequirementsBase_FitbitScope_":{"properties":{"user_must_grant":{"items":{"$ref":"#/components/schemas/FitbitScope"},"type":"array","uniqueItems":true,"title":"User Must Grant"},"user_may_grant":{"items":{"$ref":"#/components/schemas/FitbitScope"},"type":"array","uniqueItems":true,"title":"User May Grant"}},"type":"object","required":["user_must_grant","user_may_grant"],"title":"TeamScopeRequirementsBase[FitbitScope]"},"TeamScopeRequirementsBase_GoogleFitScope_":{"properties":{"user_must_grant":{"items":{"$ref":"#/components/schemas/GoogleFitScope"},"type":"array","uniqueItems":true,"title":"User Must Grant"},"user_may_grant":{"items":{"$ref":"#/components/schemas/GoogleFitScope"},"type":"array","uniqueItems":true,"title":"User May Grant"}},"type":"object","required":["user_must_grant","user_may_grant"],"title":"TeamScopeRequirementsBase[GoogleFitScope]"},"TeamScopeRequirementsBase_MyFitnessPalScope_":{"properties":{"user_must_grant":{"items":{"$ref":"#/components/schemas/MyFitnessPalScope"},"type":"array","uniqueItems":true,"title":"User Must Grant"},"user_may_grant":{"items":{"$ref":"#/components/schemas/MyFitnessPalScope"},"type":"array","uniqueItems":true,"title":"User May Grant"}},"type":"object","required":["user_must_grant","user_may_grant"],"title":"TeamScopeRequirementsBase[MyFitnessPalScope]"},"TeamScopeRequirementsBase_OuraScope_":{"properties":{"user_must_grant":{"items":{"$ref":"#/components/schemas/OuraScope"},"type":"array","uniqueItems":true,"title":"User Must Grant"},"user_may_grant":{"items":{"$ref":"#/components/schemas/OuraScope"},"type":"array","uniqueItems":true,"title":"User May Grant"}},"type":"object","required":["user_must_grant","user_may_grant"],"title":"TeamScopeRequirementsBase[OuraScope]"},"TeamScopeRequirementsBase_StravaScope_":{"properties":{"user_must_grant":{"items":{"$ref":"#/components/schemas/StravaScope"},"type":"array","uniqueItems":true,"title":"User Must Grant"},"user_may_grant":{"items":{"$ref":"#/components/schemas/StravaScope"},"type":"array","uniqueItems":true,"title":"User May Grant"}},"type":"object","required":["user_must_grant","user_may_grant"],"title":"TeamScopeRequirementsBase[StravaScope]"},"TeamScopeRequirementsBase_WahooScope_":{"properties":{"user_must_grant":{"items":{"$ref":"#/components/schemas/WahooScope"},"type":"array","uniqueItems":true,"title":"User Must Grant"},"user_may_grant":{"items":{"$ref":"#/components/schemas/WahooScope"},"type":"array","uniqueItems":true,"title":"User May Grant"}},"type":"object","required":["user_must_grant","user_may_grant"],"title":"TeamScopeRequirementsBase[WahooScope]"},"TeamScopeRequirementsBase_WhoopScope_":{"properties":{"user_must_grant":{"items":{"$ref":"#/components/schemas/WhoopScope"},"type":"array","uniqueItems":true,"title":"User Must Grant"},"user_may_grant":{"items":{"$ref":"#/components/schemas/WhoopScope"},"type":"array","uniqueItems":true,"title":"User May Grant"}},"type":"object","required":["user_must_grant","user_may_grant"],"title":"TeamScopeRequirementsBase[WhoopScope]"},"TeamScopeRequirementsBase_WithingsScope_":{"properties":{"user_must_grant":{"items":{"$ref":"#/components/schemas/WithingsScope"},"type":"array","uniqueItems":true,"title":"User Must Grant"},"user_may_grant":{"items":{"$ref":"#/components/schemas/WithingsScope"},"type":"array","uniqueItems":true,"title":"User May Grant"}},"type":"object","required":["user_must_grant","user_may_grant"],"title":"TeamScopeRequirementsBase[WithingsScope]"},"TeamScopeRequirementsResponse":{"properties":{"requirements":{"items":{"$ref":"#/components/schemas/TeamScopeRequirements"},"type":"array","title":"Requirements"}},"type":"object","required":["requirements"],"title":"TeamScopeRequirementsResponse"},"UnrecognizedValueMacroExpr":{"properties":{"value_macro":{"type":"string","title":"Value Macro"}},"type":"object","required":["value_macro"],"title":"UnrecognizedValueMacroExpr"},"UpdateBrandInformationBody":{"properties":{"company_name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Company Name"},"company_website":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Company Website"},"support_email":{"anyOf":[{"type":"string","format":"email"},{"type":"null"}],"title":"Support Email"},"support_contact":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Support Contact"},"company_address":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Company Address"},"brand_color":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Brand Color"}},"type":"object","title":"UpdateBrandInformationBody"},"UpdateOrgTeamBody":{"properties":{"name":{"anyOf":[{"type":"string","pattern":"^[A-Za-zÀ-ÖØ-öø-ÿ0-9():'|&_\\-\\s]{0,50}$"},{"type":"null"}],"title":"Name","description":"\nA human readable name of this Team. It is primarily used by Vital Dashboard.\n\nIn the Vital Link widget, you are by default represented as the Team name.\nHowever, if you have set Brand Information for the environment, the Company\nName takes precedence.\n\nIn Vital Lab Testing, all communications use only Brand Information. Team\nname is ignored.\n\nSee also: `sandbox.brand_information` and `production.brand_information`.\n"},"sandbox":{"anyOf":[{"$ref":"#/components/schemas/UpdateOrgTeamEnvironmentBody"},{"type":"null"}]},"production":{"anyOf":[{"$ref":"#/components/schemas/UpdateOrgTeamEnvironmentBody"},{"type":"null"}]}},"additionalProperties":false,"type":"object","title":"UpdateOrgTeamBody"},"UpdateOrgTeamEnvironmentBody":{"properties":{"lab_tests_patient_sms_communication_enabled":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Lab Tests Patient Sms Communication Enabled"},"lab_tests_patient_email_communication_enabled":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Lab Tests Patient Email Communication Enabled"},"reject_duplicate_connection":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Reject Duplicate Connection"},"sdk_per_device_activity_timeseries":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Sdk Per Device Activity Timeseries"},"brand_information":{"anyOf":[{"$ref":"#/components/schemas/UpdateBrandInformationBody"},{"type":"null"}],"description":"\nInformation of your brand.\n\nIn the Vital Link widget, you are by default represented as the Team name.\nHowever, if you configure Brand Information for the environment, the Company\nName takes precedence.\n\nIn Vital Lab Testing, all communications use only Brand Information. Team\nname is ignored.\n"},"logo_url":{"anyOf":[{"type":"string","maxLength":2083,"minLength":1,"format":"uri"},{"type":"null"}],"title":"Logo Url"}},"type":"object","title":"UpdateOrgTeamEnvironmentBody"},"UpsertTeamCustomCredentialsBody":{"properties":{"team_id":{"type":"string","format":"uuid","title":"Team Id"},"provider":{"anyOf":[{"$ref":"#/components/schemas/Providers"},{"$ref":"#/components/schemas/Labs"},{"$ref":"#/components/schemas/LabsProviders"},{"$ref":"#/components/schemas/AppointmentProvider"}],"title":"Provider"},"client_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Client Id"},"client_secret":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Client Secret"},"details":{"anyOf":[{"$ref":"#/components/schemas/FitbitTeamProviderDetails"},{"$ref":"#/components/schemas/GoogleFitTeamProviderDetails"},{"$ref":"#/components/schemas/BioReferenceProviderDetails"},{"$ref":"#/components/schemas/LabCorpTeamProviderDetails"},{"$ref":"#/components/schemas/QuestProviderDetails"},{"$ref":"#/components/schemas/PolarTeamProviderDetails"},{"$ref":"#/components/schemas/GetLabsTeamProviderDetails"},{"$ref":"#/components/schemas/PhlebFindersTeamProviderDetails"},{"$ref":"#/components/schemas/ElationTeamProviderDetails"},{"type":"null"}],"title":"Details"},"redirect_url_override":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Redirect Url Override"}},"type":"object","required":["team_id","provider"],"title":"UpsertTeamCustomCredentialsBody"},"UpsertTeamDataPullPreferencesBody":{"properties":{"team_ids":{"items":{"type":"string","format":"uuid"},"type":"array","title":"Team Ids"},"providers":{"additionalProperties":{"$ref":"#/components/schemas/SingleProviderDataPullPreferences"},"type":"object","title":"Providers"}},"type":"object","required":["team_ids","providers"],"title":"UpsertTeamDataPullPreferencesBody"},"UpsertTeamEHRPipelinesBody":{"properties":{"team_ids":{"anyOf":[{"items":{"type":"string","format":"uuid"},"type":"array"},{"type":"null"}],"title":"Team Ids"},"ehr_type":{"type":"string","enum":["fhir"],"const":"fhir","title":"Ehr Type"},"base_url":{"type":"string","minLength":1,"format":"uri","title":"Base Url"},"authentication":{"anyOf":[{"$ref":"#/components/schemas/EHRPipelineOAuth2ClientCredentials"},{"$ref":"#/components/schemas/EHRPipelineGoogleIAM"}],"title":"Authentication"},"allowed_mappers":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Allowed Mappers"}},"type":"object","required":["ehr_type","base_url","authentication"],"title":"UpsertTeamEHRPipelinesBody"},"UpsertTeamETLPipelinesBody":{"properties":{"team_ids":{"items":{"type":"string","format":"uuid"},"type":"array","title":"Team Ids"},"push_historical_data":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Push Historical Data"},"provider_raw_data":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Provider Raw Data"},"preferences":{"anyOf":[{"$ref":"#/components/schemas/EventDestinationPreferences"},{"type":"null"}]},"cloud_pubsub":{"anyOf":[{"$ref":"#/components/schemas/EventDestinationCloudPubSubAttributes"},{"type":"null"}]},"rabbitmq":{"anyOf":[{"$ref":"#/components/schemas/EventDestinationRabbitMQAttributes"},{"type":"null"}]},"svix":{"anyOf":[{"$ref":"#/components/schemas/EventDestinationSvixAttributes"},{"type":"null"}]},"azure_amqp":{"anyOf":[{"$ref":"#/components/schemas/EventDestinationAzureAMQPAttributes-Input"},{"type":"null"}]},"event_type_prefixes":{"items":{"type":"string"},"type":"array","title":"Event Type Prefixes"}},"type":"object","title":"UpsertTeamETLPipelinesBody"},"UpsertTeamScopeRequirementsBody":{"properties":{"fitbit":{"anyOf":[{"$ref":"#/components/schemas/TeamScopeRequirementsBase_FitbitScope_"},{"type":"null"}]},"google_fit":{"anyOf":[{"$ref":"#/components/schemas/TeamScopeRequirementsBase_GoogleFitScope_"},{"type":"null"}]},"oura":{"anyOf":[{"$ref":"#/components/schemas/TeamScopeRequirementsBase_OuraScope_"},{"type":"null"}]},"strava":{"anyOf":[{"$ref":"#/components/schemas/TeamScopeRequirementsBase_StravaScope_"},{"type":"null"}]},"withings":{"anyOf":[{"$ref":"#/components/schemas/TeamScopeRequirementsBase_WithingsScope_"},{"type":"null"}]},"wahoo":{"anyOf":[{"$ref":"#/components/schemas/TeamScopeRequirementsBase_WahooScope_"},{"type":"null"}]},"whoop_v2":{"anyOf":[{"$ref":"#/components/schemas/TeamScopeRequirementsBase_WhoopScope_"},{"type":"null"}]},"my_fitness_pal_v2":{"anyOf":[{"$ref":"#/components/schemas/TeamScopeRequirementsBase_MyFitnessPalScope_"},{"type":"null"}]}},"type":"object","title":"UpsertTeamScopeRequirementsBody"},"ValidateContinuousQueryResponse":{"properties":{"result_table_schema":{"type":"object","title":"Result Table Schema"},"resource_dependencies":{"items":{"$ref":"#/components/schemas/vitalx__types__resources__Resource"},"type":"array","title":"Resource Dependencies"},"fhir_observation_previews":{"anyOf":[{"type":"object"},{"type":"null"}],"title":"Fhir Observation Previews"}},"type":"object","required":["result_table_schema","resource_dependencies"],"title":"ValidateContinuousQueryResponse"},"ValidationError":{"properties":{"loc":{"items":{"anyOf":[{"type":"string"},{"type":"integer"}]},"type":"array","title":"Location"},"msg":{"type":"string","title":"Message"},"type":{"type":"string","title":"Error Type"}},"type":"object","required":["loc","msg","type"],"title":"ValidationError"},"WahooScope":{"type":"string","enum":["email","user_read","workouts_read","offline_data"],"title":"WahooScope"},"WhoopScope":{"type":"string","enum":["read:recovery","read:cycles","read:workout","read:sleep","read:profile","read:body_measurement","offline"],"title":"WhoopScope"},"WithingsScope":{"type":"string","enum":["user.activity","user.metrics","user.sleepevents"],"title":"WithingsScope"},"WorkoutColumnExpr":{"properties":{"workout":{"type":"string","enum":["session_start","session_end","title","sport_name","sport_slug","duration_active_second","heart_rate_mean","heart_rate_minimum","heart_rate_maximum","heart_rate_zone_1","heart_rate_zone_2","heart_rate_zone_3","heart_rate_zone_4","heart_rate_zone_5","heart_rate_zone_6","distance_meter","calories","elevation_gain_meter","elevation_maximum_meter","elevation_minimum_meter","speed_mean","speed_maximum","power_source","power_mean","power_maximum","power_weighted_mean","steps","map_polyline","map_summary_polyline","source_type","source_provider","source_app_id","source_workout_id","time_zone"],"title":"Workout"}},"type":"object","required":["workout"],"title":"WorkoutColumnExpr"},"app__schemas__resource__Resource":{"type":"string","enum":["profile","activity","sleep","body","workouts","workout_stream","connection","order","result","appointment","glucose","heartrate","hrv","hypnogram","hrv","ige","igg","blood_oxygen","blood_pressure","cholesterol","device","weight","fat","body_temperature","body_temperature_delta","meal","water","caffeine","mindfulness_minutes","steps","calories_active","distance","floors_climbed","respiratory_rate","vo2_max","calories_basal","stress_level","menstrual_cycle","sleep_cycle","electrocardiogram","heart_rate_alert","afib_burden","electrocardiogram_voltage","workout_duration","insulin_injection","carbohydrates","note","sleep_stream"],"title":"Resource"},"vitalx__types__resources__Resource":{"type":"string","enum":["profile","activity","sleep","body","workouts","workout_stream","connection","order","result","appointment","glucose","heartrate","hrv","hrv","ige","igg","blood_oxygen","blood_pressure","cholesterol","device","weight","fat","body_temperature","body_temperature_delta","meal","water","caffeine","mindfulness_minutes","steps","calories_active","distance","floors_climbed","respiratory_rate","vo2_max","calories_basal","stress_level","menstrual_cycle","sleep_cycle","electrocardiogram","electrocardiogram_voltage","afib_burden","heart_rate_alert","stand_hour","stand_duration","sleep_apnea_alert","sleep_breathing_disturbance","wheelchair_push","forced_expiratory_volume_1","forced_vital_capacity","peak_expiratory_flow_rate","inhaler_usage","fall","uv_exposure","daylight_exposure","handwashing","basal_body_temperature","workout_duration","insulin_injection","carbohydrates","note","sleep_stream","hypnogram"],"title":"ClientFacingResource","x-fern-type-name":"ClientFacingResource"}},"securitySchemes":{"VitalOrgKey":{"type":"apiKey","in":"header","name":"X-Vital-Org-Key"}}},"security":[{"VitalOrgKey":[]}]}