{"openapi":"3.1.0","info":{"title":"Org Management","version":"0.1.0"},"servers":[{"url":"https://api.tryvital.io/management"}],"paths":{"/v1/org/{org_id}/team":{"get":{"tags":["Team"],"summary":"List Teams In Org","operationId":"list_teams_in_org_v1_org__org_id__team_get","parameters":[{"required":true,"schema":{"type":"string","format":"uuid","title":"Org Id"},"name":"org_id","in":"path"},{"required":false,"schema":{"items":{"type":"string","enum":["us","eu"]},"type":"array","title":"Region"},"name":"region","in":"query"},{"required":false,"schema":{"type":"string","pattern":"^[A-Za-zÀ-ÖØ-öø-ÿ0-9():'|&_\\-\\s]{0,50}$","title":"Search Query"},"name":"search_query","in":"query"},{"required":false,"schema":{"type":"string","title":"Next Cursor"},"name":"next_cursor","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClientFacingOrgTeamListResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"post":{"tags":["Team"],"summary":"Create Team In Org","operationId":"create_team_in_org_v1_org__org_id__team_post","parameters":[{"required":true,"schema":{"type":"string","format":"uuid","title":"Org Id"},"name":"org_id","in":"path"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateOrgTeamBody"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClientFacingOrgTeam"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/org/{org_id}/team/{team_id}":{"get":{"tags":["Team"],"summary":"Get Team In Org","operationId":"get_team_in_org_v1_org__org_id__team__team_id__get","parameters":[{"required":true,"schema":{"type":"string","format":"uuid","title":"Org Id"},"name":"org_id","in":"path"},{"required":true,"schema":{"type":"string","format":"uuid","title":"Team Id"},"name":"team_id","in":"path"},{"required":false,"schema":{"items":{"$ref":"#/components/schemas/Env"},"type":"array","default":[]},"name":"include_environment","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClientFacingOrgTeam"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"delete":{"tags":["Team"],"summary":"Delete Team In Org","operationId":"delete_team_in_org_v1_org__org_id__team__team_id__delete","parameters":[{"required":true,"schema":{"type":"string","format":"uuid","title":"Org Id"},"name":"org_id","in":"path"},{"required":true,"schema":{"type":"string","format":"uuid","title":"Team Id"},"name":"team_id","in":"path"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"patch":{"tags":["Team"],"summary":"Update Team In Org","operationId":"update_team_in_org_v1_org__org_id__team__team_id__patch","parameters":[{"required":true,"schema":{"type":"string","format":"uuid","title":"Org Id"},"name":"org_id","in":"path"},{"required":true,"schema":{"type":"string","format":"uuid","title":"Team Id"},"name":"team_id","in":"path"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateOrgTeamBody"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClientFacingOrgTeam"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/org/{org_id}/team/{team_id}/scope_requirements":{"get":{"tags":["Team"],"summary":"Get Team Scope Requirements","operationId":"get_team_scope_requirements_v1_org__org_id__team__team_id__scope_requirements_get","parameters":[{"required":true,"schema":{"type":"string","format":"uuid","title":"Org Id"},"name":"org_id","in":"path"},{"required":true,"schema":{"type":"string","format":"uuid","title":"Team Id"},"name":"team_id","in":"path"},{"required":false,"schema":{"$ref":"#/components/schemas/Providers"},"name":"provider","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TeamScopeRequirementsResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"post":{"tags":["Team"],"summary":"Upsert Team Scope Requirements","operationId":"upsert_team_scope_requirements_v1_org__org_id__team__team_id__scope_requirements_post","parameters":[{"required":true,"schema":{"type":"string","format":"uuid","title":"Org Id"},"name":"org_id","in":"path"},{"required":true,"schema":{"type":"string","format":"uuid","title":"Team Id"},"name":"team_id","in":"path"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpsertTeamScopeRequirementsBody"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/org/{org_id}/member":{"get":{"tags":["Member"],"summary":"List Members In Org","operationId":"list_members_in_org_v1_org__org_id__member_get","parameters":[{"required":true,"schema":{"type":"string","format":"uuid","title":"Org Id"},"name":"org_id","in":"path"},{"required":false,"schema":{"type":"string","pattern":"^[A-Za-zÀ-ÖØ-öø-ÿ0-9():'|&_\\-\\s]{0,50}$","title":"Search Query"},"name":"search_query","in":"query"},{"required":false,"schema":{"type":"string","title":"Next Cursor"},"name":"next_cursor","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClientFacingOrgMemberListResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/org/{org_id}/member/{member_id}":{"delete":{"tags":["Member"],"summary":"Remove Member From Org","operationId":"remove_member_from_org_v1_org__org_id__member__member_id__delete","parameters":[{"required":true,"schema":{"type":"string","format":"uuid","title":"Org Id"},"name":"org_id","in":"path"},{"required":true,"schema":{"type":"string","format":"uuid","title":"Member Id"},"name":"member_id","in":"path"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/org/{org_id}/invite":{"get":{"tags":["Invite"],"summary":"List Invites In Org","operationId":"list_invites_in_org_v1_org__org_id__invite_get","parameters":[{"required":true,"schema":{"type":"string","format":"uuid","title":"Org Id"},"name":"org_id","in":"path"},{"required":false,"schema":{"type":"string","title":"Search Query"},"name":"search_query","in":"query"},{"required":false,"schema":{"type":"string","title":"Next Cursor"},"name":"next_cursor","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClientFacingOrgInviteListResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"post":{"tags":["Invite"],"summary":"Create Or Resend Invite In Org","operationId":"create_or_resend_invite_in_org_v1_org__org_id__invite_post","parameters":[{"required":true,"schema":{"type":"string","format":"uuid","title":"Org Id"},"name":"org_id","in":"path"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrgInviteAPICreate"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrgInviteAPICreateResponse"}}}},"409":{"description":"Conflict"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/org/{org_id}/invite/{invite_id}":{"delete":{"tags":["Invite"],"summary":"Revoke Invite In Org","operationId":"revoke_invite_in_org_v1_org__org_id__invite__invite_id__delete","parameters":[{"required":true,"schema":{"type":"string","format":"uuid","title":"Invite Id"},"name":"invite_id","in":"path"},{"required":true,"schema":{"type":"string","format":"uuid","title":"Org Id"},"name":"org_id","in":"path"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/org/{org_id}":{"get":{"tags":["Org"],"summary":"Get Org","operationId":"get_org_v1_org__org_id__get","parameters":[{"required":true,"schema":{"type":"string","format":"uuid","title":"Org Id"},"name":"org_id","in":"path"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClientFacingOrg"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"patch":{"tags":["Org"],"summary":"Update Org","operationId":"update_org_v1_org__org_id__patch","parameters":[{"required":true,"schema":{"type":"string","format":"uuid","title":"Org Id"},"name":"org_id","in":"path"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClientFacingOrg"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/org/{org_id}/team_api_keys/{env}/{region}":{"get":{"tags":["Team API Keys"],"summary":"List Team Api Keys","operationId":"list_team_api_keys_v1_org__org_id__team_api_keys__env___region__get","parameters":[{"required":true,"schema":{"type":"string","format":"uuid","title":"Org Id"},"name":"org_id","in":"path"},{"required":true,"schema":{"$ref":"#/components/schemas/Env"},"name":"env","in":"path"},{"required":true,"schema":{"type":"string","enum":["us","eu"],"title":"Region"},"name":"region","in":"path"},{"required":false,"schema":{"type":"string","title":"Next Cursor"},"name":"next_cursor","in":"query"},{"required":false,"schema":{"type":"string","format":"uuid","title":"Team Id"},"name":"team_id","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClientFacingTeamAPIKeyResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"post":{"tags":["Team API Keys"],"summary":"Create Team Api Key","operationId":"create_team_api_key_v1_org__org_id__team_api_keys__env___region__post","parameters":[{"required":true,"schema":{"type":"string","format":"uuid","title":"Org Id"},"name":"org_id","in":"path"},{"required":true,"schema":{"$ref":"#/components/schemas/Env"},"name":"env","in":"path"},{"required":true,"schema":{"type":"string","enum":["us","eu"],"title":"Region"},"name":"region","in":"path"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateTeamAPIKeyBody"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClientFacingTeamAPIKey"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"delete":{"tags":["Team API Keys"],"summary":"Delete Team Api Keys","operationId":"delete_team_api_keys_v1_org__org_id__team_api_keys__env___region__delete","parameters":[{"required":true,"schema":{"type":"string","format":"uuid","title":"Org Id"},"name":"org_id","in":"path"},{"required":true,"schema":{"$ref":"#/components/schemas/Env"},"name":"env","in":"path"},{"required":true,"schema":{"type":"string","enum":["us","eu"],"title":"Region"},"name":"region","in":"path"},{"required":true,"schema":{"items":{"type":"string","format":"uuid"},"type":"array","title":"Api Key Id"},"name":"api_key_id","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteTeamApiKeysResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/org/{org_id}/team_custom_credentials/{env}/{region}":{"get":{"tags":["Team Custom Credentials"],"summary":"Get Team Custom Credentials","operationId":"get_team_custom_credentials_v1_org__org_id__team_custom_credentials__env___region__get","parameters":[{"required":true,"schema":{"type":"string","format":"uuid","title":"Org Id"},"name":"org_id","in":"path"},{"required":true,"schema":{"$ref":"#/components/schemas/Env"},"name":"env","in":"path"},{"required":true,"schema":{"type":"string","enum":["us","eu"],"title":"Region"},"name":"region","in":"path"},{"required":false,"schema":{"items":{"type":"string","format":"uuid"},"type":"array","title":"Team Id","default":[]},"name":"team_id","in":"query"},{"required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/Providers"},{"$ref":"#/components/schemas/Labs"}],"title":"Provider"},"name":"provider","in":"query"},{"required":false,"schema":{"type":"string","title":"Next Cursor"},"name":"next_cursor","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomCredentialsResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"post":{"tags":["Team Custom Credentials"],"summary":"Upsert Team Custom Credentials","operationId":"upsert_team_custom_credentials_v1_org__org_id__team_custom_credentials__env___region__post","parameters":[{"required":true,"schema":{"type":"string","format":"uuid","title":"Org Id"},"name":"org_id","in":"path"},{"required":true,"schema":{"$ref":"#/components/schemas/Env"},"name":"env","in":"path"},{"required":true,"schema":{"type":"string","enum":["us","eu"],"title":"Region"},"name":"region","in":"path"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpsertTeamCustomCredentialsBody"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClientFacingTeamProviderCredentials"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"delete":{"tags":["Team Custom Credentials"],"summary":"Delete Team Custom Credentials","operationId":"delete_team_custom_credentials_v1_org__org_id__team_custom_credentials__env___region__delete","parameters":[{"required":true,"schema":{"type":"string","format":"uuid","title":"Org Id"},"name":"org_id","in":"path"},{"required":true,"schema":{"$ref":"#/components/schemas/Env"},"name":"env","in":"path"},{"required":true,"schema":{"type":"string","enum":["us","eu"],"title":"Region"},"name":"region","in":"path"},{"required":true,"schema":{"items":{"type":"string","format":"uuid"},"type":"array","title":"Credential Id"},"name":"credential_id","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteTeamCustomCredentialsResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/org/{org_id}/team_etl_pipelines/{env}/{region}":{"get":{"tags":["Team ETL Pipeline"],"summary":"Get Team Etl Pipelines","operationId":"get_team_etl_pipelines_v1_org__org_id__team_etl_pipelines__env___region__get","parameters":[{"required":true,"schema":{"type":"string","format":"uuid","title":"Org Id"},"name":"org_id","in":"path"},{"required":true,"schema":{"$ref":"#/components/schemas/Env"},"name":"env","in":"path"},{"required":true,"schema":{"type":"string","enum":["us","eu"],"title":"Region"},"name":"region","in":"path"},{"required":false,"schema":{"type":"string","format":"uuid","title":"Team Id"},"name":"team_id","in":"query"},{"required":false,"schema":{"type":"string","title":"Next Cursor"},"name":"next_cursor","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TeamETLPipelinesResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"post":{"tags":["Team ETL Pipeline"],"summary":"Upsert Team Etl Pipelines","operationId":"upsert_team_etl_pipelines_v1_org__org_id__team_etl_pipelines__env___region__post","parameters":[{"required":true,"schema":{"type":"string","format":"uuid","title":"Org Id"},"name":"org_id","in":"path"},{"required":true,"schema":{"$ref":"#/components/schemas/Env"},"name":"env","in":"path"},{"required":true,"schema":{"type":"string","enum":["us","eu"],"title":"Region"},"name":"region","in":"path"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpsertTeamETLPipelinesBody"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"items":{"$ref":"#/components/schemas/ClientFacingETLPipeline"},"type":"array","title":"Response Upsert Team Etl Pipelines V1 Org  Org Id  Team Etl Pipelines  Env   Region  Post"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"delete":{"tags":["Team ETL Pipeline"],"summary":"Delete Team Etl Pipelines","operationId":"delete_team_etl_pipelines_v1_org__org_id__team_etl_pipelines__env___region__delete","parameters":[{"required":true,"schema":{"type":"string","format":"uuid","title":"Org Id"},"name":"org_id","in":"path"},{"required":true,"schema":{"$ref":"#/components/schemas/Env"},"name":"env","in":"path"},{"required":true,"schema":{"type":"string","enum":["us","eu"],"title":"Region"},"name":"region","in":"path"},{"required":false,"schema":{"items":{"type":"string","format":"uuid"},"type":"array","title":"Team Id","default":[]},"name":"team_id","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"items":{"$ref":"#/components/schemas/ClientFacingETLPipeline"},"type":"array","title":"Response Delete Team Etl Pipelines V1 Org  Org Id  Team Etl Pipelines  Env   Region  Delete"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}}},"components":{"schemas":{"BillingMethodCode":{"type":"string","enum":["CM","PT","PI"],"title":"BillingMethodCode","description":"An enumeration."},"BrandInformation":{"properties":{"company_name":{"type":"string","title":"Company Name"},"company_website":{"type":"string","title":"Company Website","default":""},"support_email":{"type":"string","format":"email","title":"Support Email","default":"help@tryvital.io"},"support_contact":{"type":"string","title":"Support Contact","default":""},"company_address":{"type":"string","title":"Company Address","default":""},"brand_color":{"type":"string","title":"Brand Color","default":""}},"type":"object","required":["company_name"],"title":"BrandInformation"},"ClientFacingETLPipeline":{"properties":{"team_id":{"type":"string","format":"uuid","title":"Team Id"},"push_historical_data":{"type":"boolean","title":"Push Historical Data","default":false},"provider_raw_data":{"type":"boolean","title":"Provider Raw Data","default":false},"preferences":{"$ref":"#/components/schemas/EventDestinationPreferences"},"cloud_pubsub":{"$ref":"#/components/schemas/EventDestinationCloudPubSubAttributes"},"rabbitmq":{"$ref":"#/components/schemas/EventDestinationRabbitMQAttributes"},"svix":{"$ref":"#/components/schemas/EventDestinationSvixAttributes"},"event_type_prefixes":{"items":{"type":"string"},"type":"array","title":"Event Type Prefixes","description":"An allowlist of event type prefixes.             Note that both an empty list and null are interpreted as allow-all."}},"type":"object","required":["team_id"],"title":"ClientFacingETLPipeline"},"ClientFacingOrg":{"properties":{"id":{"type":"string","format":"uuid","title":"Id"},"name":{"type":"string","title":"Name"},"expires_at":{"type":"string","format":"date-time","title":"Expires At"}},"type":"object","required":["id","name"],"title":"ClientFacingOrg"},"ClientFacingOrgInvite":{"properties":{"id":{"type":"string","format":"uuid","title":"Id"},"email":{"type":"string","title":"Email"},"invited_at":{"type":"string","format":"date-time","title":"Invited At"},"resent_at":{"type":"string","format":"date-time","title":"Resent At"},"creator":{"anyOf":[{"$ref":"#/components/schemas/CreatorOrgMember"},{"$ref":"#/components/schemas/CreatorVitalStaff"}],"title":"Creator"}},"type":"object","required":["id","email","invited_at","creator"],"title":"ClientFacingOrgInvite"},"ClientFacingOrgInviteListResponse":{"properties":{"invites":{"items":{"$ref":"#/components/schemas/ClientFacingOrgInvite"},"type":"array","title":"Invites"},"next_cursor":{"type":"string","title":"Next Cursor"}},"type":"object","required":["invites"],"title":"ClientFacingOrgInviteListResponse"},"ClientFacingOrgMember":{"properties":{"id":{"type":"string","format":"uuid","title":"Id"},"name":{"type":"string","title":"Name"},"email":{"type":"string","title":"Email"},"created_on":{"type":"string","format":"date-time","title":"Created On"}},"type":"object","required":["id","name","email","created_on"],"title":"ClientFacingOrgMember"},"ClientFacingOrgMemberListResponse":{"properties":{"members":{"items":{"$ref":"#/components/schemas/ClientFacingOrgMember"},"type":"array","title":"Members"},"next_cursor":{"type":"string","title":"Next Cursor"}},"type":"object","required":["members"],"title":"ClientFacingOrgMemberListResponse"},"ClientFacingOrgTeam":{"properties":{"id":{"type":"string","format":"uuid","title":"Id"},"name":{"type":"string","title":"Name"},"created_on":{"type":"string","format":"date-time","title":"Created On"},"region":{"type":"string","enum":["us","eu"],"title":"Region"},"environments":{"items":{"$ref":"#/components/schemas/Env"},"type":"array"},"sandbox":{"$ref":"#/components/schemas/ClientFacingOrgTeamEnvironment"},"production":{"$ref":"#/components/schemas/ClientFacingOrgTeamEnvironment"}},"type":"object","required":["id","name","created_on","region"],"title":"ClientFacingOrgTeam"},"ClientFacingOrgTeamEnvironment":{"properties":{"lab_tests_patient_sms_communication_enabled":{"type":"boolean","title":"Lab Tests Patient Sms Communication Enabled","default":true},"lab_tests_patient_email_communication_enabled":{"type":"boolean","title":"Lab Tests Patient Email Communication Enabled","default":true},"brand_information":{"allOf":[{"$ref":"#/components/schemas/BrandInformation"}],"title":"Brand Information","description":"\nInformation of your brand.\n\nIn the Vital Link widget, you are by default represented as the Team name.\nHowever, if you configure Brand Information for the environment, the Company\nName takes precedence.\n\nIn Vital Lab Testing, all communications use only Brand Information. Team\nname is ignored.\n"},"logo_url":{"type":"string","maxLength":2083,"minLength":1,"format":"uri","title":"Logo Url"},"reject_duplicate_connection":{"type":"boolean","title":"Reject Duplicate Connection","default":false}},"type":"object","title":"ClientFacingOrgTeamEnvironment"},"ClientFacingOrgTeamListItem":{"properties":{"id":{"type":"string","format":"uuid","title":"Id"},"name":{"type":"string","title":"Name","description":"\nA human readable name of this Team. It is primarily used by Vital Dashboard.\n\nIn the Vital Link widget, you are by default represented as the Team name.\nHowever, if you have set Brand Information for the environment, the Company\nName takes precedence.\n\nIn Vital Lab Testing, all communications use only Brand Information. Team\nname is ignored.\n\nSee also: `sandbox.brand_information` and `production.brand_information`.\n"},"created_on":{"type":"string","format":"date-time","title":"Created On"},"region":{"type":"string","enum":["us","eu"],"title":"Region"}},"type":"object","required":["id","name","created_on","region"],"title":"ClientFacingOrgTeamListItem"},"ClientFacingOrgTeamListResponse":{"properties":{"teams":{"items":{"$ref":"#/components/schemas/ClientFacingOrgTeamListItem"},"type":"array","title":"Teams"},"next_cursor":{"type":"string","title":"Next Cursor"}},"type":"object","required":["teams"],"title":"ClientFacingOrgTeamListResponse"},"ClientFacingTeamAPIKey":{"properties":{"id":{"type":"string","format":"uuid","title":"Id"},"label":{"type":"string","title":"Label"},"value":{"type":"string","title":"Value"},"team_id":{"type":"string","format":"uuid","title":"Team Id"},"created_at":{"type":"string","format":"date-time","title":"Created At"}},"type":"object","required":["id","label","value","team_id","created_at"],"title":"ClientFacingTeamAPIKey"},"ClientFacingTeamAPIKeyResponse":{"properties":{"api_keys":{"items":{"$ref":"#/components/schemas/ClientFacingTeamAPIKey"},"type":"array","title":"Api Keys"},"next_cursor":{"type":"string","title":"Next Cursor"}},"type":"object","required":["api_keys"],"title":"ClientFacingTeamAPIKeyResponse"},"ClientFacingTeamProviderCredentials":{"properties":{"id":{"type":"string","format":"uuid","title":"Id"},"client_id":{"type":"string","title":"Client Id"},"client_secret_hash":{"type":"string","title":"Client Secret Hash"},"source":{"anyOf":[{"$ref":"#/components/schemas/Providers"},{"$ref":"#/components/schemas/Labs"}],"title":"Source"},"team_id":{"type":"string","format":"uuid","title":"Team Id"},"created_at":{"type":"string","format":"date-time","title":"Created At"},"updated_at":{"type":"string","format":"date-time","title":"Updated At"},"details":{"anyOf":[{"$ref":"#/components/schemas/FitbitTeamProviderDetails"},{"$ref":"#/components/schemas/GoogleFitTeamProviderDetails"},{"$ref":"#/components/schemas/LabCorpTeamProviderDetails"},{"$ref":"#/components/schemas/QuestProviderDetails"},{"$ref":"#/components/schemas/PolarTeamProviderDetails"},{"$ref":"#/components/schemas/GetLabsTeamProviderDetails"},{"$ref":"#/components/schemas/PhlebFindersTeamProviderDetails"}],"title":"Details"},"app_url":{"type":"string","title":"App Url"}},"type":"object","required":["id","source","team_id","created_at","updated_at"],"title":"ClientFacingTeamProviderCredentials"},"CreateOrgTeamBody":{"properties":{"name":{"type":"string","pattern":"^[A-Za-zÀ-ÖØ-öø-ÿ0-9():'|&_\\-\\s]{0,50}$","title":"Name","description":"\nA human readable name of this Team. It is primarily used by Vital Dashboard.\n\nIn the Vital Link widget, you are by default represented as the Team name.\nHowever, if you have set Brand Information for the environment, the Company\nName takes precedence.\n\nIn Vital Lab Testing, all communications use only Brand Information. Team\nname is ignored.\n\nSee also: `sandbox.brand_information` and `production.brand_information`.\n"},"region":{"type":"string","enum":["us","eu"],"title":"Region"},"lab_tests_patient_sms_communication_enabled":{"type":"boolean","title":"Lab Tests Patient Sms Communication Enabled","default":true},"lab_tests_patient_email_communication_enabled":{"type":"boolean","title":"Lab Tests Patient Email Communication Enabled","default":true},"event_type_prefixes":{"items":{"type":"string"},"type":"array","title":"Event Type Prefixes"},"reject_duplicate_connection":{"type":"boolean","title":"Reject Duplicate Connection","default":false},"brand_information":{"allOf":[{"$ref":"#/components/schemas/BrandInformation"}],"title":"Brand Information","description":"\nInformation of your brand.\n\nIn the Vital Link widget, you are by default represented as the Team name.\nHowever, if you configure Brand Information for the environment, the Company\nName takes precedence.\n\nIn Vital Lab Testing, all communications use only Brand Information. Team\nname is ignored.\n"},"logo_url":{"type":"string","maxLength":2083,"minLength":1,"format":"uri","title":"Logo Url"}},"additionalProperties":false,"type":"object","required":["name","region"],"title":"CreateOrgTeamBody"},"CreateTeamAPIKeyBody":{"properties":{"label":{"type":"string","title":"Label"},"team_id":{"type":"string","format":"uuid","title":"Team Id"}},"type":"object","required":["label","team_id"],"title":"CreateTeamAPIKeyBody"},"CreatorOrgMember":{"properties":{"type":{"type":"string","enum":["org_member"],"title":"Type"},"id":{"type":"string","format":"uuid","title":"Id"},"name":{"type":"string","title":"Name"},"email":{"type":"string","title":"Email"},"avatar":{"type":"string","title":"Avatar"}},"type":"object","required":["type","id","name","email","avatar"],"title":"CreatorOrgMember"},"CreatorVitalStaff":{"properties":{"type":{"type":"string","enum":["vital_staff"],"title":"Type"}},"type":"object","required":["type"],"title":"CreatorVitalStaff"},"CustomCredentialsResponse":{"properties":{"credentials":{"items":{"$ref":"#/components/schemas/ClientFacingTeamProviderCredentials"},"type":"array","title":"Credentials"},"next_cursor":{"type":"string","title":"Next Cursor"}},"type":"object","required":["credentials"],"title":"CustomCredentialsResponse"},"DeleteTeamApiKeysResponse":{"properties":{"success":{"items":{"type":"string","format":"uuid"},"type":"array","title":"Success"},"failure":{"items":{"type":"string","format":"uuid"},"type":"array","title":"Failure"},"not_found":{"items":{"type":"string","format":"uuid"},"type":"array","title":"Not Found"}},"type":"object","required":["success","failure","not_found"],"title":"DeleteTeamApiKeysResponse"},"DeleteTeamCustomCredentialsResponse":{"properties":{"success":{"items":{"type":"string","format":"uuid"},"type":"array","title":"Success"},"failure":{"items":{"type":"string","format":"uuid"},"type":"array","title":"Failure"},"not_found":{"items":{"type":"string","format":"uuid"},"type":"array","title":"Not Found"}},"type":"object","required":["success","failure","not_found"],"title":"DeleteTeamCustomCredentialsResponse"},"Env":{"type":"string","enum":["production","sandbox"],"title":"Env","description":"An enumeration."},"EventDestinationCloudPubSubAttributes":{"properties":{"project":{"type":"string","title":"Project"},"topic":{"type":"string","title":"Topic"},"message_ordering":{"type":"boolean","title":"Message Ordering"}},"type":"object","required":["project","topic","message_ordering"],"title":"EventDestinationCloudPubSubAttributes"},"EventDestinationPreferences":{"properties":{"preferred":{"type":"string","enum":["cloud_pubsub","rabbitmq","svix"],"title":"Preferred"},"enabled":{"items":{"type":"string","enum":["cloud_pubsub","rabbitmq","svix"]},"type":"array","title":"Enabled"}},"type":"object","required":["preferred","enabled"],"title":"EventDestinationPreferences"},"EventDestinationRabbitMQAttributes":{"properties":{"uri":{"type":"string","title":"Uri"},"exchange":{"type":"string","title":"Exchange"}},"type":"object","required":["uri","exchange"],"title":"EventDestinationRabbitMQAttributes"},"EventDestinationSvixAttributes":{"properties":{"regional":{"type":"boolean","title":"Regional"}},"type":"object","required":["regional"],"title":"EventDestinationSvixAttributes"},"FitbitMetadata":{"properties":{"is_hr_enabled":{"type":"boolean","title":"Is Hr Enabled","default":false},"workout_verify_token":{"type":"string","title":"Workout Verify Token"},"sleep_verify_token":{"type":"string","title":"Sleep Verify Token"},"body_verify_token":{"type":"string","title":"Body Verify Token"}},"type":"object","required":["workout_verify_token","sleep_verify_token","body_verify_token"],"title":"FitbitMetadata"},"FitbitScope":{"type":"string","enum":["heartrate","oxygen_saturation","cardio_fitness","respiratory_rate","activity","location","nutrition","profile","settings","sleep","social","weight"],"title":"FitbitScope","description":"An enumeration."},"FitbitTeamProviderDetails":{"properties":{"fitbit":{"$ref":"#/components/schemas/FitbitMetadata"}},"type":"object","required":["fitbit"],"title":"FitbitTeamProviderDetails"},"GetLabsMetadata":{"properties":{"webhook_secret_key":{"type":"string","title":"Webhook Secret Key"},"webhook_secret_token":{"type":"string","title":"Webhook Secret Token"}},"type":"object","required":["webhook_secret_key","webhook_secret_token"],"title":"GetLabsMetadata"},"GetLabsTeamProviderDetails":{"properties":{"getlabs":{"$ref":"#/components/schemas/GetLabsMetadata"}},"type":"object","required":["getlabs"],"title":"GetLabsTeamProviderDetails"},"GoogleFitScope":{"type":"string","enum":["openid","email","https://www.googleapis.com/auth/fitness.activity.read","https://www.googleapis.com/auth/fitness.body.read","https://www.googleapis.com/auth/fitness.sleep.read","https://www.googleapis.com/auth/fitness.blood_glucose.read","https://www.googleapis.com/auth/fitness.blood_pressure.read","https://www.googleapis.com/auth/fitness.heart_rate.read","https://www.googleapis.com/auth/fitness.nutrition.read"],"title":"GoogleFitScope","description":"An enumeration."},"GoogleFitTeamProviderDetails":{"properties":{"redirect_uri":{"type":"string","title":"Redirect Uri"},"data_scopes":{"items":{"type":"string"},"type":"array","title":"Data Scopes"}},"type":"object","required":["redirect_uri","data_scopes"],"title":"GoogleFitTeamProviderDetails"},"HTTPValidationError":{"properties":{"detail":{"items":{"$ref":"#/components/schemas/ValidationError"},"type":"array","title":"Detail"}},"type":"object","title":"HTTPValidationError"},"LabCorpMetadata":{"properties":{"account_number":{"type":"string","title":"Account Number"},"billing_method":{"$ref":"#/components/schemas/BillingMethodCode"}},"type":"object","required":["account_number","billing_method"],"title":"LabCorpMetadata"},"LabCorpTeamProviderDetails":{"properties":{"labcorp":{"$ref":"#/components/schemas/LabCorpMetadata"}},"type":"object","required":["labcorp"],"title":"LabCorpTeamProviderDetails"},"Labs":{"type":"string","enum":["quest","labcorp"],"title":"Labs","description":"An enumeration."},"OrgInviteAPICreate":{"properties":{"email":{"type":"string","title":"Email"}},"type":"object","required":["email"],"title":"OrgInviteAPICreate"},"OrgInviteAPICreateResponse":{"properties":{"status":{"type":"string","enum":["invite_created","invite_resent","already_in_org"],"title":"Status"}},"type":"object","required":["status"],"title":"OrgInviteAPICreateResponse"},"OuraScope":{"type":"string","enum":["email","personal","daily","heartrate","workout","tag","session"],"title":"OuraScope","description":"An enumeration."},"PhlebFindersMetadata":{"properties":{"account_id":{"type":"string","title":"Account Id"},"account_name":{"type":"string","title":"Account Name"},"team_id":{"type":"string","title":"Team Id"},"team_name":{"type":"string","title":"Team Name"},"webhook_token":{"type":"string","title":"Webhook Token"},"email":{"type":"string","title":"Email"}},"type":"object","required":["account_id","account_name","team_id","team_name","webhook_token","email"],"title":"PhlebFindersMetadata"},"PhlebFindersTeamProviderDetails":{"properties":{"phlebfinders":{"$ref":"#/components/schemas/PhlebFindersMetadata"}},"type":"object","required":["phlebfinders"],"title":"PhlebFindersTeamProviderDetails"},"PolarTeamProviderDetails":{"properties":{"webhook_secret":{"type":"string","title":"Webhook Secret"}},"type":"object","required":["webhook_secret"],"title":"PolarTeamProviderDetails"},"Providers":{"type":"string","enum":["oura","fitbit","garmin","strava","wahoo","ihealth","withings","google_fit","dexcom_v3","polar","cronometer","omron","whoop_v2"],"title":"Providers","description":"An enumeration."},"QuestMetadata":{"properties":{"account_id":{"type":"string","title":"Account Id"},"organization_id":{"type":"string","title":"Organization Id"},"lab_codes":{"items":{"type":"string"},"type":"array","title":"Lab Codes"}},"type":"object","required":["account_id","organization_id","lab_codes"],"title":"QuestMetadata"},"QuestProviderDetails":{"properties":{"quest":{"$ref":"#/components/schemas/QuestMetadata"}},"type":"object","required":["quest"],"title":"QuestProviderDetails"},"StravaScope":{"type":"string","enum":["activity:read_all","activity:write","profile:write","profile:read_all"],"title":"StravaScope","description":"An enumeration."},"TeamETLPipelinesResponse":{"properties":{"pipelines":{"items":{"$ref":"#/components/schemas/ClientFacingETLPipeline"},"type":"array","title":"Pipelines"},"next_cursor":{"type":"string","title":"Next Cursor"}},"type":"object","required":["pipelines"],"title":"TeamETLPipelinesResponse"},"TeamScopeRequirements":{"properties":{"user_must_grant":{"items":{"type":"string"},"type":"array","uniqueItems":true,"title":"User Must Grant"},"user_may_grant":{"items":{"type":"string"},"type":"array","uniqueItems":true,"title":"User May Grant"},"team_id":{"type":"string","format":"uuid","title":"Team Id"},"provider":{"$ref":"#/components/schemas/Providers"}},"type":"object","required":["user_must_grant","user_may_grant","team_id","provider"],"title":"TeamScopeRequirements"},"TeamScopeRequirementsBase_FitbitScope_":{"properties":{"user_must_grant":{"items":{"$ref":"#/components/schemas/FitbitScope"},"type":"array","uniqueItems":true},"user_may_grant":{"items":{"$ref":"#/components/schemas/FitbitScope"},"type":"array","uniqueItems":true}},"type":"object","required":["user_must_grant","user_may_grant"],"title":"TeamScopeRequirementsBase[FitbitScope]"},"TeamScopeRequirementsBase_GoogleFitScope_":{"properties":{"user_must_grant":{"items":{"$ref":"#/components/schemas/GoogleFitScope"},"type":"array","uniqueItems":true},"user_may_grant":{"items":{"$ref":"#/components/schemas/GoogleFitScope"},"type":"array","uniqueItems":true}},"type":"object","required":["user_must_grant","user_may_grant"],"title":"TeamScopeRequirementsBase[GoogleFitScope]"},"TeamScopeRequirementsBase_OuraScope_":{"properties":{"user_must_grant":{"items":{"$ref":"#/components/schemas/OuraScope"},"type":"array","uniqueItems":true},"user_may_grant":{"items":{"$ref":"#/components/schemas/OuraScope"},"type":"array","uniqueItems":true}},"type":"object","required":["user_must_grant","user_may_grant"],"title":"TeamScopeRequirementsBase[OuraScope]"},"TeamScopeRequirementsBase_StravaScope_":{"properties":{"user_must_grant":{"items":{"$ref":"#/components/schemas/StravaScope"},"type":"array","uniqueItems":true},"user_may_grant":{"items":{"$ref":"#/components/schemas/StravaScope"},"type":"array","uniqueItems":true}},"type":"object","required":["user_must_grant","user_may_grant"],"title":"TeamScopeRequirementsBase[StravaScope]"},"TeamScopeRequirementsBase_WahooScope_":{"properties":{"user_must_grant":{"items":{"$ref":"#/components/schemas/WahooScope"},"type":"array","uniqueItems":true},"user_may_grant":{"items":{"$ref":"#/components/schemas/WahooScope"},"type":"array","uniqueItems":true}},"type":"object","required":["user_must_grant","user_may_grant"],"title":"TeamScopeRequirementsBase[WahooScope]"},"TeamScopeRequirementsBase_WhoopScope_":{"properties":{"user_must_grant":{"items":{"$ref":"#/components/schemas/WhoopScope"},"type":"array","uniqueItems":true},"user_may_grant":{"items":{"$ref":"#/components/schemas/WhoopScope"},"type":"array","uniqueItems":true}},"type":"object","required":["user_must_grant","user_may_grant"],"title":"TeamScopeRequirementsBase[WhoopScope]"},"TeamScopeRequirementsBase_WithingsScope_":{"properties":{"user_must_grant":{"items":{"$ref":"#/components/schemas/WithingsScope"},"type":"array","uniqueItems":true},"user_may_grant":{"items":{"$ref":"#/components/schemas/WithingsScope"},"type":"array","uniqueItems":true}},"type":"object","required":["user_must_grant","user_may_grant"],"title":"TeamScopeRequirementsBase[WithingsScope]"},"TeamScopeRequirementsResponse":{"properties":{"requirements":{"items":{"$ref":"#/components/schemas/TeamScopeRequirements"},"type":"array","title":"Requirements"}},"type":"object","required":["requirements"],"title":"TeamScopeRequirementsResponse"},"UpdateBrandInformationBody":{"properties":{"company_name":{"type":"string","title":"Company Name"},"company_website":{"type":"string","title":"Company Website"},"support_email":{"type":"string","format":"email","title":"Support Email"},"support_contact":{"type":"string","title":"Support Contact"},"company_address":{"type":"string","title":"Company Address"},"brand_color":{"type":"string","title":"Brand Color"}},"type":"object","title":"UpdateBrandInformationBody"},"UpdateOrgTeamBody":{"properties":{"name":{"type":"string","pattern":"^[A-Za-zÀ-ÖØ-öø-ÿ0-9():'|&_\\-\\s]{0,50}$","title":"Name","description":"\nA human readable name of this Team. It is primarily used by Vital Dashboard.\n\nIn the Vital Link widget, you are by default represented as the Team name.\nHowever, if you have set Brand Information for the environment, the Company\nName takes precedence.\n\nIn Vital Lab Testing, all communications use only Brand Information. Team\nname is ignored.\n\nSee also: `sandbox.brand_information` and `production.brand_information`.\n"},"sandbox":{"$ref":"#/components/schemas/UpdateOrgTeamEnvironmentBody"},"production":{"$ref":"#/components/schemas/UpdateOrgTeamEnvironmentBody"}},"additionalProperties":false,"type":"object","title":"UpdateOrgTeamBody"},"UpdateOrgTeamEnvironmentBody":{"properties":{"lab_tests_patient_sms_communication_enabled":{"type":"boolean","title":"Lab Tests Patient Sms Communication Enabled"},"lab_tests_patient_email_communication_enabled":{"type":"boolean","title":"Lab Tests Patient Email Communication Enabled"},"event_type_prefixes":{"items":{"type":"string"},"type":"array","title":"Event Type Prefixes"},"reject_duplicate_connection":{"type":"boolean","title":"Reject Duplicate Connection"},"brand_information":{"allOf":[{"$ref":"#/components/schemas/UpdateBrandInformationBody"}],"title":"Brand Information","description":"\nInformation of your brand.\n\nIn the Vital Link widget, you are by default represented as the Team name.\nHowever, if you configure Brand Information for the environment, the Company\nName takes precedence.\n\nIn Vital Lab Testing, all communications use only Brand Information. Team\nname is ignored.\n"},"logo_url":{"type":"string","maxLength":2083,"minLength":1,"format":"uri","title":"Logo Url"}},"type":"object","title":"UpdateOrgTeamEnvironmentBody"},"UpsertTeamCustomCredentialsBody":{"properties":{"team_id":{"type":"string","format":"uuid","title":"Team Id"},"provider":{"anyOf":[{"$ref":"#/components/schemas/Providers"},{"$ref":"#/components/schemas/Labs"}],"title":"Provider"},"client_id":{"type":"string","title":"Client Id"},"client_secret":{"type":"string","title":"Client Secret"},"details":{"anyOf":[{"$ref":"#/components/schemas/FitbitTeamProviderDetails"},{"$ref":"#/components/schemas/GoogleFitTeamProviderDetails"},{"$ref":"#/components/schemas/LabCorpTeamProviderDetails"},{"$ref":"#/components/schemas/QuestProviderDetails"},{"$ref":"#/components/schemas/PolarTeamProviderDetails"},{"$ref":"#/components/schemas/GetLabsTeamProviderDetails"},{"$ref":"#/components/schemas/PhlebFindersTeamProviderDetails"}],"title":"Details"}},"type":"object","required":["team_id","provider"],"title":"UpsertTeamCustomCredentialsBody"},"UpsertTeamETLPipelinesBody":{"properties":{"team_ids":{"items":{"type":"string","format":"uuid"},"type":"array","title":"Team Ids","default":[]},"push_historical_data":{"type":"boolean","title":"Push Historical Data"},"provider_raw_data":{"type":"boolean","title":"Provider Raw Data"},"preferences":{"$ref":"#/components/schemas/EventDestinationPreferences"},"cloud_pubsub":{"$ref":"#/components/schemas/EventDestinationCloudPubSubAttributes"},"rabbitmq":{"$ref":"#/components/schemas/EventDestinationRabbitMQAttributes"},"svix":{"$ref":"#/components/schemas/EventDestinationSvixAttributes"},"event_type_prefixes":{"items":{"type":"string"},"type":"array","title":"Event Type Prefixes","default":[]}},"type":"object","title":"UpsertTeamETLPipelinesBody"},"UpsertTeamScopeRequirementsBody":{"properties":{"fitbit":{"$ref":"#/components/schemas/TeamScopeRequirementsBase_FitbitScope_"},"google_fit":{"$ref":"#/components/schemas/TeamScopeRequirementsBase_GoogleFitScope_"},"oura":{"$ref":"#/components/schemas/TeamScopeRequirementsBase_OuraScope_"},"strava":{"$ref":"#/components/schemas/TeamScopeRequirementsBase_StravaScope_"},"withings":{"$ref":"#/components/schemas/TeamScopeRequirementsBase_WithingsScope_"},"wahoo":{"$ref":"#/components/schemas/TeamScopeRequirementsBase_WahooScope_"},"whoop":{"$ref":"#/components/schemas/TeamScopeRequirementsBase_WhoopScope_"}},"type":"object","title":"UpsertTeamScopeRequirementsBody"},"ValidationError":{"properties":{"loc":{"items":{"anyOf":[{"type":"string"},{"type":"integer"}]},"type":"array","title":"Location"},"msg":{"type":"string","title":"Message"},"type":{"type":"string","title":"Error Type"}},"type":"object","required":["loc","msg","type"],"title":"ValidationError"},"WahooScope":{"type":"string","enum":["email","user_read","workouts_read","offline_data"],"title":"WahooScope","description":"An enumeration."},"WhoopScope":{"type":"string","enum":["read:recovery","read:cycles","read:workout","read:sleep","read:profile","read:body_measurement","offline"],"title":"WhoopScope","description":"An enumeration."},"WithingsScope":{"type":"string","enum":["user.activity","user.metrics","user.sleepevents"],"title":"WithingsScope","description":"An enumeration."}},"securitySchemes":{"VitalOrgKey":{"type":"apiKey","in":"header","name":"X-Vital-Org-Key"}}},"security":[{"VitalOrgKey":[]}]}